In [1]:
# import libraries
import os
import pandas as pd
import json
import gzip
import fasttext 
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
path = '../../src/data/schemafiltereddata/TrainTestTables/Large/Test'
l = [file for file in os.listdir(path) if file.startswith('Product_')]
len(l)

4239

In [32]:
l2 = l[100:200]
l2

['Product_mastermachineryllc.com_September2020.json.gz',
 'Product_tipsycandlecompany.com_September2020.json.gz',
 'Product_gmemployeepartsdiscount.com_September2020.json.gz',
 'Product_nuori.com_September2020.json.gz',
 'Product_vwoaklawn.com_September2020.json.gz',
 'Product_amycoz.com_September2020.json.gz',
 'Product_kity-rouen.com_September2020.json.gz',
 'Product_24chemicalresearch.com_September2020.json.gz',
 'Product_muglerusa.com_September2020.json.gz',
 'Product_myla.com_September2020.json.gz',
 'Product_houseandhold.com_September2020.json.gz',
 'Product_continentalcommercialproducts.com_September2020.json.gz',
 'Product_maternityideas.com_September2020.json.gz',
 'Product_cityxplora.com_September2020.json.gz',
 'Product_bitek.com.tw_September2020.json.gz',
 'Product_touchlcdhouse.com_September2020.json.gz',
 'Product_gallifurniture.com_September2020.json.gz',
 'Product_officialmemorabilia.com.au_September2020.json.gz',
 'Product_solovela.net_September2020.json.gz',
 'Product_steampunkweb.com_September2020.json.gz',
 'Product_hlmotorcars.com_September2020.json.gz',
 'Product_progressyourhealth.com_September2020.json.gz',
 'Product_mosaicnatural.com_September2020.json.gz',
 'Product_emarinepx.com_September2020.json.gz',
 'Product_emckay.com_September2020.json.gz',
 'Product_jewelry-shevchenko.com.ua_September2020.json.gz',
 'Product_babaautostx.com_September2020.json.gz',
 'Product_luluschocolate.com_September2020.json.gz',
 'Product_oxfordmillsoutlet.com_September2020.json.gz',
 'Product_propertyinbaner.com_September2020.json.gz',
 'Product_xposed.com.au_September2020.json.gz',
 'Product_fiberoptic-device.com_September2020.json.gz',
 'Product_karaca-home.com_September2020.json.gz',
 'Product_prolocktoolstorage.com_September2020.json.gz',
 'Product_janalam.com_September2020.json.gz',
 'Product_innovetpet.com_September2020.json.gz',
 'Product_pterodactyl-addons.com_September2020.json.gz',
 'Product_theurbanmen.com_September2020.json.gz',
 'Product_eastcoastmoparts.com_September2020.json.gz',
 'Product_nissanofvictoria.com_September2020.json.gz',
 'Product_femigod.com_September2020.json.gz',
 'Product_tennis.com.co_September2020.json.gz',
 'Product_hillwebcreations.com_September2020.json.gz',
 'Product_chubbiesshorts.com_September2020.json.gz',
 'Product_basenotes.net_September2020.json.gz',
 'Product_lightenupelectricalservices.com_September2020.json.gz',
 'Product_de-atramentis.com_September2020.json.gz',
 'Product_canvastsupplyco.com_September2020.json.gz',
 'Product_primeclassicdesign.com_September2020.json.gz',
 'Product_margaretlukasik.com_September2020.json.gz',
 'Product_treekeeperbag.com_September2020.json.gz',
 'Product_ritualgems.com_September2020.json.gz',
 'Product_21jumpsuits.com_September2020.json.gz',
 'Product_milkncookiez.com_September2020.json.gz',
 'Product_dulcesenda.com_September2020.json.gz',
 'Product_flowers4milan.com_September2020.json.gz',
 'Product_holderwellsfuneralhome.com_September2020.json.gz',
 'Product_vw.com_September2020.json.gz',
 'Product_lightsdaddy.com_September2020.json.gz',
 'Product_tickets.co.uk_September2020.json.gz',
 'Product_kammb-karz.com_September2020.json.gz',
 'Product_augustaloja.com_September2020.json.gz',
 'Product_ashaybythebay.com_September2020.json.gz',
 'Product_shopbellemode.com_September2020.json.gz',
 'Product_zebraz.com_September2020.json.gz',
 'Product_dyerchevyftpierce.com_September2020.json.gz',
 'Product_twinset.com_September2020.json.gz',
 'Product_americanmobilityspecialists.com_September2020.json.gz',
 'Product_everythingtrackandfield.com_September2020.json.gz',
 'Product_findlaytruckrvsales.com_September2020.json.gz',
 'Product_hometreatsuk.com_September2020.json.gz',
 'Product_dxproz.com_September2020.json.gz',
 'Product_tyrepoint.com.au_September2020.json.gz',
 'Product_adnams.co.uk_September2020.json.gz',
 'Product_compendiumstore.com_September2020.json.gz',
 'Product_northstarfox.com_September2020.json.gz',
 'Product_charlieobaugh.com_September2020.json.gz',
 'Product_bulktoystore.com_September2020.json.gz',
 'Product_triskafuneralhome.com_September2020.json.gz',
 'Product_gsmzone.co.uk_September2020.json.gz',
 'Product_perfumesonline.com.mx_September2020.json.gz',
 'Product_ar15discounts.com_September2020.json.gz',
 'Product_nonstophype.com_September2020.json.gz',
 'Product_sweettez.com_September2020.json.gz',
 'Product_miccys.com_September2020.json.gz',
 'Product_gousfbulls.com_September2020.json.gz',
 'Product_scrapbooking-warehouse.com_September2020.json.gz',
 'Product_brambletonimports.com_September2020.json.gz',
 'Product_nesemannsdiamondcenter.com_September2020.json.gz',
 'Product_kuyhaacrack.com_September2020.json.gz',
 'Product_acemartmall.com_September2020.json.gz',
 'Product_famouschairs.com_September2020.json.gz',
 'Product_archibalds.net_September2020.json.gz',
 'Product_gypsyrockco.com_September2020.json.gz',
 'Product_awoodidea.co.uk_September2020.json.gz',
 'Product_dogdigest.com_September2020.json.gz',
 'Product_laurelfuneralhome.net_September2020.json.gz',
 'Product_jugais.com_September2020.json.gz',
 'Product_sieuthihangmy.com.vn_September2020.json.gz',
 'Product_bobcatarmament.com_September2020.json.gz']

In [3]:
path = '/work-ceph/bizer-tp2021/data_integration_using_deep_learning/src/data/data/CSV_files'
stats = pd.read_csv(path + '/all_files_stats.csv')
files = pd.read_csv(path + '/all_files_cleaned.csv')
files = files.drop(columns={'Unnamed: 0'})
listcol= files.groupby('filename')['column_name'].apply(list).reset_index(name='listofcolumns')
listcol.filename = listcol.filename.str.split('_', expand=True)[0]
listcol.index = listcol['filename']
listcol = listcol[listcol['filename']=='Product']

In [22]:
l2 = l[1900:2000]

In [23]:
path='../../src/data/schemafiltereddata/TrainTestTables/Large/Test'
#files = [file for file in os.listdir(path) if file.endswith('.json.gz')]
for index in listcol.filename:
    setcol = listcol.loc[index]['listofcolumns']
    for file in l2:
    # read file
        df = pd.read_json(os.path.join(path, '{}'.format(file)), compression='gzip', lines=True)
        display(file)
        display(df[df.columns.intersection(setcol)].head())
    #column_count_Music.extend(list_col)

'Product_thechristmascottagestore.co.uk_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Sony PlayStation 4 500 GB Bundles,"{'availability': 'https://schema.org/InStock',...",None,"{'reviewcount': '89', 'ratingvalue': '5'}",5637
1,6ft Garland with Velvet Poinsettia Flowers wit...,"{'availability': 'https://schema.org/InStock',...",None,"{'reviewcount': '89', 'ratingvalue': '5'}",1107
2,Baylis & Harding Fuzzy Duck Men's Ginger and L...,"{'price': '21.99', 'availability': 'https://sc...",{'name': 'Baylis & Harding'},"{'reviewcount': '89', 'ratingvalue': '5'}",6871
3,Decorative Christmas LED Light Up Flame Lanter...,"{'price': '0.00', 'availability': 'https://sch...",{'name': 'Y56(TM)'},"{'reviewcount': '89', 'ratingvalue': '5'}",7951
4,6 x Rolls Traditional Curling Ribbon Red Gold ...,"{'price': '3.49', 'availability': 'https://sch...",{'name': 'The Home Fusion Company'},"{'reviewcount': '89', 'ratingvalue': '5'}",1376

'Product_takahala.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,review
0,➯ 维修/更换实例,{'url': 'http://www.takahala.com/product_13102...,维修/改装/加装,"{'reviewcount': '1', 'ratingvalue': '5'}",1310215,"{'author': 'takahala.com', 'datepublished': '2..."
1,➯ 维修/更换实例,"{'pricecurrency': 'NT$', 'price': '0', 'url': ...",维修/改装/加装,"{'reviewcount': '1', 'ratingvalue': '5'}",1310340,"{'author': 'takahala.com', 'datepublished': '2..."
2,➯ 订制曳引机后副铁轮,"{'pricecurrency': 'NT$', 'pricevaliduntil': '2...",副铁轮/副胶轮,"{'reviewcount': '1', 'ratingvalue': '5'}",1310551,"{'author': 'takahala.com', 'datepublished': '2..."
3,R-2678-IN（全铁）,"{'pricecurrency': 'NT$', 'pricevaliduntil': '2...",全铁（IN）,"{'reviewcount': '1', 'ratingvalue': '5'}",1309847,"{'author': 'takahala.com', 'datepublished': '2..."
4,∅ ８２０（风轮）＋∅ １３４０（胶轮）,"{'pricecurrency': 'NT$', 'pricevaliduntil': '2...",多需求（EX：前风轮＋后橡胶轮）,"{'reviewcount': '1', 'ratingvalue': '5'}",1310557,"{'author': 'takahala.com', 'datepublished': '2..."

'Product_skatexs.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,SkateXS Purple Panda Advanced Complete Skatebo...,"{'pricecurrency': 'USD', 'itemcondition': 'New...",None,None,None
1,SkateXS Unicorn Advanced Complete Skateboard f...,"{'pricecurrency': 'USD', 'itemcondition': 'New...",None,None,None
2,SkateXS Purple Panda Beginner Complete Skatebo...,"{'pricecurrency': 'USD', 'price': '123.95', 's...",None,None,None
3,SkateXS Starboard Advanced Complete Skateboard...,"{'pricecurrency': 'USD', 'itemcondition': 'New...",None,None,None
4,SkateXS Pirate Pro Complete Skateboard for Kids,"[{'mpn': 'SXC72PGS1', 'availability': 'https:/...",{'name': 'SkateXS'},"{'ratingcount': '20', 'ratingvalue': '5'}",SXC70PBS1

'Product_swanbullion.com_September2020.json.gz'

,name,offers,brand,category,weight,releasedate,width,height,depth
0,2017 South Korean Chiwoo Cheonwang 1/2oz .999 ...,"{'pricecurrency': 'AUD', 'itemcondition': 'New...",None,Silver Coins > Silver > 1/2 OZ Silver Coins,"{'value': '.06', 'unitcode': 'KGM'}",2019-02-05T15:05:56+08:00,"{'value': '5', 'unitcode': 'CMT'}","{'value': '5', 'unitcode': 'CMT'}","{'value': '5', 'unitcode': 'CMT'}"
1,The ANZAC Spirit – To Our Last Man 2014 1/4oz ...,"{'pricecurrency': 'AUD', 'itemcondition': 'New...",{'name': 'The Perth Mint'},None,"{'value': '0.5', 'unitcode': 'KGM'}",2018-02-13T07:48:50+08:00,None,None,None
2,2011 American Eagle 1oz .999 Silver Bullion Co...,"{'pricecurrency': 'AUD', 'itemcondition': 'New...",{'name': 'US Mint'},Silver Coins > Silver > 1 OZ Silver Coins,"{'value': '0.06', 'unitcode': 'KGM'}",2018-07-12T16:14:52+08:00,"{'value': '5', 'unitcode': 'CMT'}","{'value': '5', 'unitcode': 'CMT'}","{'value': '5', 'unitcode': 'CMT'}"
3,"2016 Year of the Monkey - 3 Coin (1/10 oz, 1/4...","{'pricecurrency': 'AUD', 'itemcondition': 'New...",{'name': 'The Perth Mint'},None,"{'value': '0.5', 'unitcode': 'KGM'}",2018-02-12T09:28:45+08:00,None,None,None
4,Southern Cross Bullion 1oz .999 Silver Cast Bu...,"{'pricecurrency': 'AUD', 'price': '29.48', 'it...",{'name': 'Southern Cross Bullion'},Silver Bars > Silver > 1 OZ Silver Bars,"{'value': '.05', 'unitcode': 'KGM'}",2018-07-28T14:25:28+08:00,"{'value': '5', 'unitcode': 'CMT'}","{'value': '5', 'unitcode': 'CMT'}","{'value': '5', 'unitcode': 'CMT'}"

'Product_barossafinefoods.com.au_September2020.json.gz'

,name,offers,brand,additionalproperty,availability
0,"[Product Information, TexMex Burger - 440g]","{'price': '8.99', 'pricecurrency': 'AUD'}",None,"{'name': 'Serving Suggestion', 'value': 'Grill...",In Stock
1,"[Product Information, Rump Steak - 400g]","{'pricecurrency': 'AUD', 'price': '11.99'}",Barossa Fine Foods,"{'value': ['BBQ, stir fry, pan fry & kebabs', ...",In Stock
2,American Pork Ribs - 1kg,"{'pricecurrency': 'AUD', 'price': '18.99'}",Barossa Fine Foods,"{'value': 'BBQ & roast', 'name': 'Cooking Meth...",In Stock
3,Diced Beef - 1kg,"{'pricecurrency': 'AUD', 'price': '25.99'}",Barossa Fine Foods,"{'value': 'Roast, pan fry', 'name': 'Cooking M...",In Stock
4,"[Product Information, Smoked Kabana - 220g]","{'pricecurrency': 'AUD', 'price': '5.99'}",Barossa Fine Foods,{'value': 'Traditionally served with cubed che...,In Stock

'Product_calahanfuneralhome.com_September2020.json.gz'

,name,offers,aggregaterating,review,itemcondition,model
0,Widow to Widow,"{'pricecurrency': 'USD', 'highprice': '39.95',...",None,None,NewCondition,{'image': 'https://res.cloudinary.com/picasso/...
1,Angel Wind Chime - Silver,"{'pricecurrency': 'USD', 'lowprice': '69.95', ...",None,None,NewCondition,[{'url': 'https://www.calahanfuneralhome.com/s...
2,Peaceful White Lilies Basket,"{'pricecurrency': 'USD', 'highprice': '89.95',...","{'reviewcount': '250', 'ratingvalue': '4.93'}","[{'datepublished': '6/10/2020', 'description':...",NewCondition,{'url': 'https://www.calahanfuneralhome.com/st...
3,"Amazing Grace 44\"" Sonnet","{'pricecurrency': 'USD', 'highprice': '84.95',...","{'reviewcount': '1', 'ratingvalue': '5.00'}","{'author': 'from -', 'datepublished': '5/3/201...",NewCondition,"{'sku': '60239', 'image': 'https://res.cloudin..."
4,Cross Wind Chime - Bronze,"{'pricecurrency': 'USD', 'lowprice': '69.95', ...",None,None,NewCondition,[{'name': 'Cross Wind Chime - Bronze (Cross Gr...

'Product_ozfilterwarehouse.com.au_September2020.json.gz'

,name,offers,brand,category,mpn
0,10,"{'pricecurrency': 'AUD', 'description': 'This ...",Oz Filter Warehouse,"10\"" x 2-&#189;\"" Standard Size Pleated Filter...",10 STD PL50
1,20,"{'price': '18.000', 'url': 'https://www.ozfilt...",Oz Filter Warehouse,"20 inch Standard Water Filter Cartridges|20\"" ...",20 PS GD 20
2,10,{'url': 'https://www.ozfilterwarehouse.com.au/...,Oz Filter Warehouse,"10 inch Standard Water Filter Cartridges|10\"" ...",10 STD SILVER
3,10,{'url': 'https://www.ozfilterwarehouse.com.au/...,Oz Filter Warehouse,"10 inch Standard Water Filter Cartridges|10\"" ...",10 STD PL01
4,5,{'url': 'https://www.ozfilterwarehouse.com.au/...,Oz Filter Warehouse,"5\"" x 2-&#189;\"" Standard Size for Chlorinated...",5 STD PB1

'Product_booksjugaad.com_September2020.json.gz'

,name,offers,category,weight,releasedate,width,height,depth
0,Master Assam Year Book 2020 (Assamese) by Sant...,None,Exam Hub,"{'unitcode': 'KGM', 'value': '1'}",2020-08-13T17:23:10+00:00,"{'value': '18', 'unitcode': 'CMT'}","{'value': '4', 'unitcode': 'CMT'}","{'value': '22', 'unitcode': 'CMT'}"
1,Assam Inspector of Excise & Excise Constable B...,"{'price': '315.00', 'itemcondition': 'NewCondi...",Exam Hub > Assam Based,"{'value': '0.5', 'unitcode': 'KGM'}",2020-08-23T20:30:44+00:00,"{'value': '18', 'unitcode': 'CMT'}","{'value': '2', 'unitcode': 'CMT'}","{'value': '22', 'unitcode': 'CMT'}"
2,Neurology and Neurosurgery Illustrated By Kenn...,"{'price': '1458.00', 'itemcondition': 'NewCond...",Medical,"{'unitcode': 'KGM', 'value': '1'}",2020-09-12T18:49:30+00:00,"{'unitcode': 'CMT', 'value': '2.1'}","{'value': '19.2', 'unitcode': 'CMT'}","{'value': '21.7', 'unitcode': 'CMT'}"
3,Colonialism Language and Politics: Origins of ...,"{'price': '765.00', 'itemcondition': 'NewCondi...",Uncategorized,"{'value': '0.5', 'unitcode': 'KGM'}",2020-08-18T20:16:43+00:00,"{'value': '16', 'unitcode': 'CMT'}","{'value': '2', 'unitcode': 'CMT'}","{'value': '22', 'unitcode': 'CMT'}"
4,Geography of India By Majid Hussain,"{'price': '633.00', 'itemcondition': 'NewCondi...",Exam Hub > APSC,"{'value': '.500', 'unitcode': 'KGM'}",2020-09-12T19:24:39+00:00,"{'unitcode': 'CMT', 'value': '14'}","{'value': '4', 'unitcode': 'CMT'}","{'value': '20', 'unitcode': 'CMT'}"

'Product_flowers4madagascar.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,model,manufacturer
0,Impressive Holiday Basket,"{'pricevaliduntil': '30-10-2020', 'price': '50...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10292,Impressive Holiday Basket,{'name': 'Paradise Promotions LTD.'}
1,Hvisker af kærlighed,{'url': 'antsirabe/da/hvisker-af-kaerlighed-hv...,{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10097,Hvisker af kærlighed,{'name': 'Paradise Promotions LTD.'}
2,Holidays in the Dark,{'url': 'love-in-the-dark-flower-delivery.html...,{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10893,Holidays in the Dark,{'name': 'Paradise Promotions LTD.'}
3,Taste the Holiday Gift Basket,"{'pricevaliduntil': '30-10-2020', 'pricecurren...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10889,Taste the Holiday Gift Basket,{'name': 'Paradise Promotions LTD.'}
4,Dows 10 Porto and Goodies Gift Basket,"{'pricevaliduntil': '30-10-2020', 'url': 'dows...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",12078,Dows 10 Porto and Goodies Gift Basket,{'name': 'Paradise Promotions LTD.'}

'Product_toolmart.com.au_September2020.json.gz'

,name,offers,brand,mpn,model
0,SP Tools SP23314,"{'price': '31.5', 'pricecurrency': 'AUD', 'ite...",SP Tools,SP23314,SP23314
1,SP Tools SP61021,"{'pricecurrency': 'AUD', 'price': '19', 'itemc...",SP Tools,SP61021,SP61021
2,SP Tools SP32403,"{'pricecurrency': 'AUD', 'price': '40.5', 'ite...",SP Tools,SP32403,SP32403
3,SP Tools SP32282,"{'pricecurrency': 'AUD', 'price': '50.95', 'it...",SP Tools,SP32282,SP32282
4,SP Tools SP63038,"{'pricecurrency': 'AUD', 'price': '99.5', 'ite...",SP Tools,SP63038,SP63038

'Product_gamingnerds.co.uk_September2020.json.gz'

,name,offers,brand,itemcondition,gtin13
0,Driving Test Success Theory Test (PC),"{'price': '7.99', 'url': 'https://www.gamingne...",Focus Media,http://schema.org/NewCondition,9.781843e+12
1,Street Fighter IV Ultra (PlayStation 3),{'url': 'https://www.gamingnerds.co.uk/video-g...,Capcom,http://schema.org/NewCondition,5.055061e+12
2,Mega Man Limited Edition Set of Two Prints,{'url': 'https://www.gamingnerds.co.uk/collect...,Fanattik,http://schema.org/NewCondition,5.060243e+12
3,Meta Merch Marvel Spider-Man Arm Mug,"{'price': '7.99', 'url': 'https://www.gamingne...",Exquisite Gaming,http://schema.org/NewCondition,5.060526e+12
4,PlayStation 4 Wallet,"{'price': '26.99', 'pricecurrency': 'GBP', 'ur...",Numskull,http://schema.org/NewCondition,5.060577e+12

'Product_medicalmarijuanainc.com_September2020.json.gz'

,name,offers,brand,aggregaterating,gtin12
0,Green Label CBD Hemp Oil Tincture (500mg CBD) 2oz,{'url': 'https://www.medicalmarijuanainc.com/s...,Real Scientific Hemp Oil®,None,7.482528e+11
1,Green Label CBD Hemp Oil Liquid (1000mg CBD) 4 oz,"{'pricecurrency': 'USD', 'url': 'https://www.m...",Real Scientific Hemp Oil®,"{'reviewcount': '58', 'ratingvalue': '4.7'}",7.482528e+11
2,Gold Label Hemp Oil CBD Capsules (25mg CBD) 30...,"{'pricecurrency': 'USD', 'price': '119', 'url'...",Real Scientific Hemp Oil®,"{'ratingvalue': '4.8', 'reviewcount': '37'}",7.482528e+11
3,ECHO: $20 Donation,{'url': 'https://www.medicalmarijuanainc.com/s...,None,None,NaN
4,The Ultimate CBD Kit ($2225 Value),None,Medical Marijuana Inc.,None,NaN

'Product_themotorvenue.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,2013 Tesla Model S 4dr Sdn Performance,"{'availability': 'https://schema.org/InStock',...",{'name': 'Tesla'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",5YJSA1DP7DFP25332
1,1987 Pontiac Fiero 2dr GT Coupe,"{'availability': 'https://schema.org/InStock',...",{'name': 'Pontiac'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",1G2PG1197HP214679
2,1962 Chrysler Imperial Crown,"{'availability': 'https://schema.org/InStock',...",{'name': 'Chrysler'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",BH23F8B392504
3,2010 Mercedes-Benz C-Class 4dr Sdn C 300 Sport...,"{'availability': 'https://schema.org/InStock',...",{'name': 'Mercedes-Benz'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",WDDGF5EB4AF426668
4,2008 Pontiac G6 2dr Conv GT,"{'availability': 'https://schema.org/InStock',...",{'name': 'Pontiac'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",1G2ZH361184294051

'Product_utmeofficial.com.ng_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,[Download] IJMB Economics Past Questions For 2...,"{'availability': 'https://schema.org/InStock',...",{'name': 'UTMEOFFICIAL'},"{'ratingvalue': '4.18', 'reviewcount': '1812'}",1912
1,Upgrade 2020 JUPEB Points /Increase JUPEB 2020...,"{'availability': 'https://schema.org/InStock',...",{'name': 'UTMEOFFICIAL'},"{'reviewcount': '708', 'ratingvalue': '4.7'}",1908
2,Possibly JAMB Runz on Physics /Possibly JAMB P...,"{'availability': 'https://schema.org/InStock',...",{'name': 'UTMEOFFICIAL'},"{'ratingvalue': '4.18', 'reviewcount': '1812'}",1912
3,Schools’ reopening: JAMB considers new commenc...,"{'pricevaliduntil': '2020-11-10', 'pricecurren...",{'name': 'UTMEOFFICIAL'},"{'ratingvalue': '4.10', 'reviewcount': '1008'}",2008
4,JAMB 2020 March 29 Questions and Answer /March...,"{'pricecurrency': 'NGN', 'availability': 'http...",{'name': 'UTMEOFFICIAL'},"{'ratingvalue': '4.14', 'reviewcount': '1401'}",2001

'Product_andrewscottmusic.com_September2020.json.gz'

,name,offers,category,weight,releasedate,width,height,depth
0,Masterpiece Silver Plated Alto Saxophone,"{'pricecurrency': 'AUD', 'price': '617.00', 'i...",Uncategorized,"{'unitcode': 'KGM', 'value': '5.150'}",2020-05-06T06:51:37+09:30,"{'unitcode': 'CMT', 'value': '31.00'}","{'value': '16.00', 'unitcode': 'CMT'}","{'value': '65.00', 'unitcode': 'CMT'}"
1,15 Children's Songs for Keyboard - Additional ...,"{'pricecurrency': 'AUD', 'itemcondition': 'New...",Uncategorized,"{'unitcode': 'KGM', 'value': '0.000'}",2020-05-06T06:51:37+09:30,"{'unitcode': 'CMT', 'value': '0.00'}","{'unitcode': 'CMT', 'value': '0.00'}","{'unitcode': 'CMT', 'value': '0.00'}"
2,Masterpiece White and Gold - Tenor Saxophone,"{'pricecurrency': 'AUD', 'price': '775.00', 'i...",Saxophones - Tenor,"{'value': '7.200', 'unitcode': 'KGM'}",2020-05-06T06:51:08+09:30,"{'value': '36.00', 'unitcode': 'CMT'}","{'value': '20.00', 'unitcode': 'CMT'}","{'value': '84.00', 'unitcode': 'CMT'}"
3,Masterpiece Purple and Gold - Tenor Saxophone,"{'pricecurrency': 'AUD', 'price': '775.00', 'i...",Uncategorized,"{'value': '7.200', 'unitcode': 'KGM'}",2020-05-06T06:51:08+09:30,"{'value': '36.00', 'unitcode': 'CMT'}","{'value': '20.00', 'unitcode': 'CMT'}","{'value': '84.00', 'unitcode': 'CMT'}"
4,Art Of Saxophone - Option C: Gold Digital and ...,"{'pricecurrency': 'AUD', 'itemcondition': 'New...",Uncategorized,"{'unitcode': 'KGM', 'value': '0.000'}",2020-05-06T06:51:25+09:30,"{'unitcode': 'CMT', 'value': '0.00'}","{'unitcode': 'CMT', 'value': '0.00'}","{'unitcode': 'CMT', 'value': '0.00'}"

'Product_cookingcollectibles.com_September2020.json.gz'

,name,offers,brand,aggregaterating,category,mpn,review
0,Stainless Steel Wine Glass 2 pcs Set,{'url': 'https://cookingcollectibles.com/stain...,cookingcollectibles.com,"{'ratingvalue': '4.80', 'reviewcount': '14'}",None,1055,None
1,Round Crystal Wine Glasses 4 pcs Set,"{'availability': 'https://schema.org/InStock',...",cookingcollectibles.com,"{'ratingvalue': '4.70', 'reviewcount': '7'}",None,1059,None
2,Round White Silicone Wine Glass 2 pcs Set,"{'availability': 'https://schema.org/InStock',...",cookingcollectibles.com,"{'reviewcount': '4', 'ratingvalue': '5.00'}",None,1064,None
3,Round Stainless Steel Wine Glass,"{'availability': 'https://schema.org/InStock',...",cookingcollectibles.com,"{'ratingvalue': '5.00', 'reviewcount': '12'}",None,1062,None
4,Kitchen Stainless Steel Towel Holder,"{'availability': 'https://schema.org/InStock',...",cookingcollectibles.com,"{'ratingvalue': '4.80', 'reviewcount': '14'}",None,752,None

'Product_theoutdoorstores.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,BronzeDog Buttstock Cheek Rest Ammo Holder Lea...,"{'pricevaliduntil': '2020-09-24 15:23:47', 'pr...",{'name': 'BronzeDog'},"{'reviewcount': '89', 'ratingvalue': '5'}",2795
1,Brooklyn Kayak Company BKC UH-FK184,"{'pricecurrency': 'USD', 'pricevaliduntil': '2...",{'name': 'Brooklyn Kayak Company'},"{'reviewcount': '89', 'ratingvalue': '5'}",2879
2,"Outdoor Edge RazorLite EDC, Replaceable Blade ...","{'pricecurrency': 'USD', 'price': '0.00', 'pri...",{'name': 'OUTDOOR EDGE'},"{'reviewcount': '89', 'ratingvalue': '5'}",2181
3,TOURIT Insulated Cooler Backpack Lightweight B...,"{'pricecurrency': 'USD', 'pricevaliduntil': '2...",{'name': 'TOURIT'},"{'reviewcount': '89', 'ratingvalue': '5'}",2101
4,Berkley Big Game Spinning Fishing Rod,"{'pricecurrency': 'USD', 'price': '0.00', 'ava...",None,"{'reviewcount': '89', 'ratingvalue': '5'}",2040

'Product_eickenhorstfuneral.com_September2020.json.gz'

,name,offers,aggregaterating,review,itemcondition,model
0,America the Beautiful,"{'pricecurrency': 'USD', 'highprice': '72.95',...","{'ratingvalue': '4.89', 'reviewcount': '18'}","[{'datepublished': '4/9/2020', 'author': 'from...",NewCondition,{'url': 'https://www.eickenhorstfuneral.com/st...
1,Peaceful White Lilies Basket,"{'pricecurrency': 'USD', 'highprice': '89.95',...","{'reviewcount': '250', 'ratingvalue': '4.93'}","[{'datepublished': '6/10/2020', 'description':...",NewCondition,{'url': 'https://www.eickenhorstfuneral.com/st...
2,Dreams From the Heart Bouquet,"{'pricecurrency': 'USD', 'lowprice': '92.95', ...","{'reviewcount': '17', 'ratingvalue': '4.94'}","[{'author': 'from -', 'datepublished': '4/26/2...",NewCondition,[{'name': 'Dreams From the Heart Bouquet (Delu...
3,Medium Dish Garden,"{'pricecurrency': 'USD', 'lowprice': '59.95', ...","{'ratingvalue': '4.90', 'reviewcount': '40'}","[{'author': 'from -', 'datepublished': '6/7/20...",NewCondition,{'image': 'https://res.cloudinary.com/picasso/...
4,Arrive in Style,"{'pricecurrency': 'USD', 'highprice': '69.95',...","{'reviewcount': '132', 'ratingvalue': '4.91'}","[{'datepublished': '6/1/2020', 'description': ...",NewCondition,"[{'name': 'Arrive in Style (Standard)', 'sku':..."

'Product_drdanacarson.com_September2020.json.gz'

,name,offers,brand,category,mpn
0,Kingdom Preacher's Set,"{'sku': 'king_preacher_set', 'availability': '...",{'name': 'Kingdom Superstore'},Bundles,NaN
1,HC 2018 Workshops (CD),"[{'name': 'Kingdom Esteem', 'availability': 'h...",{'name': 'Kingdom Superstore'},Audio/Video,NaN
2,Being a Witness,[{'availability': 'https://schema.org/InStock'...,{'name': 'Kingdom Superstore'},Audio/Video,8.191810e+09
3,Relevant Pulpits Session 6,"{'availability': 'https://schema.org/InStock',...",{'name': 'Kingdom Superstore'},Audio/Video,NaN
4,Kingdom Gifted Kingdom Devotional,"[{'price': '1.999E1', 'sku': '07071510505', 'a...",{'name': 'Kingdom Superstore'},Kingdom Devotional,NaN

'Product_nativecos.com_September2020.json.gz'

,name,offers,brand,category,additionalproperty
0,Rosemary & Lemon Zest,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Native'},BYP Body Wash BYP,"{'value': 'Body Wash BYP', 'name': 'Product Ty..."
1,(Manual) Seasonal Summer Pack,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Native'},Manual Order Packs Deodorant,"{'name': 'Product Type', 'value': 'Deodorant'}"
2,Aloe & Eucalyptus,"{'pricecurrency': 'USD', 'sku': 'BARSOAP-OM1-5...",{'name': 'Native'},Women's Bar Soap PBP,"{'name': 'Product Type', 'value': 'Bar Soap PBP'}"
3,Pear & Linden Blossom,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Native'},Women's Body Wash PBP,"{'name': 'Product Type', 'value': 'Body Wash P..."
4,Pear & Linden Blossom,"{'price': '10.00', 'sku': 'DEO-BM1-265-1-Pear&...",{'name': 'Native'},Women's Deodorant PBP,"{'name': 'Product Type', 'value': 'Deodorant P..."

'Product_powerofbowser.com_September2020.json.gz'

,name,offers,brand,mpn,model,manufacturer,color
0,New 2020 Hyundai Kona Ultimate AWD Sport Utility,"{'price': '30855', 'itemcondition': 'http://sc...",Hyundai,Q0472AT5,Kona,{'name': 'Hyundai'},Pulse Red
1,New 2020 Buick Envision Essence AWD 4D Sport U...,{'itemcondition': 'http://schema.org/NewCondit...,Buick,4XZ26,Envision,{'name': 'Buick'},Black
2,New 2020 Nissan Rogue SV AWD 4D Sport Utility,{'itemcondition': 'http://schema.org/NewCondit...,Nissan,22210,Rogue,{'name': 'Nissan'},Gray
3,New 2020 Hyundai Sonata SEL FWD 4D Sedan,"{'price': '28229', 'itemcondition': 'http://sc...",Hyundai,29422F4S,Sonata,{'name': 'Hyundai'},Blue
4,New 2020 Buick Envision Premium I AWD 4D Sport...,{'itemcondition': 'http://schema.org/NewCondit...,Buick,4XT26,Envision,{'name': 'Buick'},White

'Product_maraboujewelry.com_September2020.json.gz'

,name,offers,brand,mpn,itemcondition
0,Sunny Hoops,"{'availability': 'https://schema.org/InStock',...",{'name': 'Marabou Jewellery'},7.461757e+11,https://schema.org/NewCondition
1,Nirvana @Marabou Set,"{'availability': 'https://schema.org/InStock',...",{'name': 'Marabou Jewellery'},7.461758e+11,https://schema.org/NewCondition
2,Jungle Earrings,"{'availability': 'https://schema.org/InStock',...",{'name': 'Marabou Jewellery'},7.461758e+11,https://schema.org/NewCondition
3,Gypsy Queen Handbag,"{'availability': 'https://schema.org/InStock',...",{'name': 'Marabou Jewelry'},NaN,https://schema.org/NewCondition
4,Sparkle Earrings,"[{'gtin12': '746175778503', 'availability': 'h...",{'name': 'Marabou Jewellery'},7.461758e+11,https://schema.org/NewCondition

'Product_rhino-racks.co.uk_September2020.json.gz'

,name,offers,brand,mpn,itemcondition
0,Fiat Scudo Single Front Van Seat Cover,"{'price': '2.934E1', 'availability': 'https://...",Heavy Duty Seat Covers,SSCUDO,New
1,Peugeot Boxer Rhino Van Roof Bar Roller Pre Oc...,"{'price': '4.5E1', 'availability': 'https://sc...",Rhino,1000-S225P,New
2,Vauxhall Vivaro Pre Oct 2014 Swb Low Roof Twin...,"{'availability': 'https://schema.org/InStock',...",Rhino,A501,New
3,Rhino Delta 2 Bar System &#45; Mercedes Citan ...,"{'price': '8.55E1', 'availability': 'https://s...",Rhino,P2D-B22,New
4,Mercedes Vito Rhino Roof Bar Roller System Lwb...,"{'price': '4.5E1', 'availability': 'https://sc...",Rhino,1000-S300P,New

'Product_subarusouthblvd.com_September2020.json.gz'

,name,offers,brand,mpn,identifier
0,Cargo Tray - Hybrid,{'itemcondition': 'http://schema.org/NewCondit...,Subaru,J501SFL320,{'value': 'J501SFL320'}
1,Air Deflector Ay,{'itemcondition': 'http://schema.org/NewCondit...,Subaru,E3610AS280,{'value': 'E3610AS280'}
2,Bolt and Nut Kit,{'itemcondition': 'http://schema.org/NewCondit...,Subaru,L1010SG550,{'value': 'L1010SG550'}
3,STI Door Handle Cup Protector,{'itemcondition': 'http://schema.org/NewCondit...,Subaru,J1210FL500,{'value': 'J1210FL500'}
4,Cargo Cover,{'itemcondition': 'http://schema.org/NewCondit...,Subaru,65550FL00BVH,{'value': '65550FL00BVH'}

'Product_caesar-shisha.com_September2020.json.gz'

,name,offers,brand,weight,releasedate
0,Hookain Tobacco 200g - Bubblenciaga,"{'sku': 'SW10217', 'url': ['https://www.caesar...",Default,0.416 kg,0999-12-21
1,Mammut Adapter - Blue,{'url': ['https://www.caesar-shisha.com/de/shi...,Default,0.03 kg,0999-12-30
2,7 Days Platin 200 g - Bluber Eyes T,{'url': ['https://www.caesar-shisha.com/de/shi...,Default,0.416 kg,None
3,E-Shisha - Akku,{'url': ['https://www.caesar-shisha.com/de/e-s...,Default,0.2 kg,2020-08-13
4,Wookah - Nox - White - Olives,"{'pricecurrency': 'EUR', 'sku': '20077', 'pric...",Default,30 kg,0999-12-31

'Product_adventurecbd.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,review,gtin8
0,CBD Pet Tincture - Peanut Butter,"{'availability': 'instock', 'price': '24.99', ...",{'name': 'Adventure CBD'},"{'reviewcount': '1', 'ratingvalue': '5'}",879,"{'author': 'adventurecbd', 'description': 'Buy...",8.500055e+11
1,CBD Oil Tincture – Original Unflavored,"{'lowprice': '2.999E1', 'availability': 'insto...",{'name': 'Adventure CBD'},"{'reviewcount': '2', 'ratingvalue': '5.00'}",1400,"[{'author': 'Kate', 'datepublished': '2020-09-...",NaN
2,CBD Body Scrub - Vanilla,"{'availability': 'instock', 'price': '19.99', ...",{'name': 'Adventure CBD'},"{'reviewcount': '1', 'ratingvalue': '5.00'}",654,"{'datepublished': '2020-03-24 13:05:18', 'desc...",8.500055e+11
3,Full-Spectrum CBD Tincture – Lemon,"{'offercount': '2', 'availability': 'instock',...",{'name': 'Adventure CBD'},"{'ratingvalue': '4.00', 'reviewcount': '1'}",3819,"{'datepublished': '2020-02-16 11:51:15', 'auth...",NaN
4,Athletica CBD – Electrolyte Gummies,"{'pricecurrency': 'USD', 'pricevaliduntil': '2...",{'name': 'Adventure CBD'},"{'reviewcount': '1', 'ratingvalue': '5'}",3174,{'description': 'Buy Athletica CBD Electrolyte...,8.500055e+11

'Product_partsdiscounters.com_September2020.json.gz'

,name,offers,brand,mpn,manufacturer
0,"Cargo Tray, Reversible","{'pricecurrency': 'USD', 'price': '8.85E1', 'i...",{'name': 'Hyundai'},b1012adu00,{'name': 'Hyundai'}
1,Cargo Mat,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Mopar'},5se95dx9aa,{'name': 'Mopar'}
2,Floor Mat,"{'pricecurrency': 'USD', 'price': '6.782E1', '...",{'name': 'Mopar'},68184087aa,{'name': 'Mopar'}
3,Control Module,"{'pricecurrency': 'USD', 'itemcondition': 'htt...",{'name': 'Mercedes-Benz'},204900591280,{'name': 'Mercedes-Benz'}
4,Dust Cap,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Hyundai'},9214034550,{'name': 'Hyundai'}

'Product_elmhursttoyota.com_September2020.json.gz'

,name,offers,brand,mpn,manufacturer
0,Roof Rack Cover,"{'pricecurrency': 'USD', 'price': '5.21E1', 'i...",{'name': 'Toyota'},6349148020,{'name': 'Toyota'}
1,Roof Rack Cover,"{'pricecurrency': 'USD', 'price': '6.44E0', 'i...",{'name': 'Toyota'},6349648020,{'name': 'Toyota'}
2,Roof Rack Cover,"{'pricecurrency': 'USD', 'price': '5.265E1', '...",{'name': 'Toyota'},6349242011b1,{'name': 'Toyota'}
3,Genuine Toyota (14-20 4Runner) (09-14 FJ Cruis...,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Toyota'},ptr6089190,{'name': 'Toyota'}
4,Roof Rack Cover,"{'pricecurrency': 'USD', 'price': '7.09E0', 'i...",{'name': 'Toyota'},6349548040,{'name': 'Toyota'}

'Product_giftpens.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Arizona Fountain Pen - Red,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Generic'},"{'bestrating': '5', 'ratingvalue': '4.82E0', '...",GP-1134
1,Cross Calais Rollerball Pen - Black,"{'pricecurrency': 'USD', 'price': '31.99', 'av...",{'name': 'AT Cross Pens DS'},"{'bestrating': '5', 'ratingvalue': '5', 'revie...",GP-1237 | AT0115-14
2,Parker Style Ballpoint Ink Refills 2 Packs,"{'pricecurrency': 'USD', 'price': '4.99', 'ava...",{'name': 'Dayspring Pens'},None,GP-1289-01
3,Cross Calais Ballpoint Pen - Black,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'AT Cross Pens'},"{'bestrating': '5', 'reviewcount': '11', 'rati...",GP-1218 | AT0112-14
4,Cross Tech3+ Pen - Lustrous Chrome Finish,"{'pricecurrency': 'USD', 'price': '54.99', 'av...",{'name': 'No Refill'},"{'bestrating': '5', 'reviewcount': '7', 'worst...",GP-106 | AT0090-1

'Product_reneesgarden.com_September2020.json.gz'

,name,offers,brand,mpn,itemcondition
0,Redwing Long Keeping Red,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'renees-garden'},6443861569,http://schema.org/NewCondition
1,Violetta Lunga,"{'sku': '3081', 'itemcondition': 'http://schem...",{'name': 'renees-garden'},2419235329,http://schema.org/NewCondition
2,Wedding Bells,"{'price': '2.79', 'itemcondition': 'http://sch...",{'name': 'renees-garden'},2419088193,http://schema.org/NewCondition
3,Black-Eyed Susan Vine,"{'price': '2.79', 'itemcondition': 'http://sch...",{'name': 'renees-garden'},2419106561,http://schema.org/NewCondition
4,Angel Wings,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'renees-garden'},2419092737,http://schema.org/NewCondition

'Product_mgsports.com.br_September2020.json.gz'

,name,offers,brand,itemcondition,gtin13,weight,width,height,depth
0,Coxal Realtex Elastico,"{'pricecurrency': 'BRL', 'availability': 'http...",{'name': 'Realtex'},https://schema.org/NewCondition,7.897471e+12,900 g,35.0 cm,12.0 cm,22.0 cm
1,Short Adidas Sp3 - Masculino,"{'pricecurrency': 'BRL', 'availability': 'http...",{'name': 'Adidas'},https://schema.org/NewCondition,4.060515e+12,400 g,22.0 cm,12.0 cm,22.0 cm
2,Tênis New Balance ML373 - Feminino,"{'pricecurrency': 'BRL', 'price': '299.90', 'a...",{'name': 'New Balance'},https://schema.org/NewCondition,7.908260e+12,900 g,35.0 cm,12.0 cm,22.0 cm
3,Tênis Under Armour Skyline - Masculino,"{'pricecurrency': 'BRL', 'availability': 'http...",None,https://schema.org/NewCondition,NaN,900 g,35.0 cm,12.0 cm,22.0 cm
4,Bola Penalty Mirim - Unissex,"{'pricecurrency': 'BRL', 'availability': 'http...",{'name': 'Penalty'},https://schema.org/NewCondition,7.909342e+12,0 g,0.0 cm,0.0 cm,0.0 cm

'Product_porschegoldcoast.com_September2020.json.gz'

,name,offers,brand,mpn,model,manufacturer,color
0,New 2020 Porsche Macan,{'itemcondition': 'http://schema.org/NewCondit...,Porsche,95BAG1,Macan,{'name': 'Porsche'},White
1,New 2020 Porsche Taycan Turbo,"{'price': '161520', 'itemcondition': 'http://s...",Porsche,Y1AFC1,Taycan,{'name': 'Porsche'},Gentian Blue Metallic
2,Certified Pre-Owned 2017 Porsche Cayenne,"{'price': '47900', 'itemcondition': 'http://sc...",Porsche,92AAA1,Cayenne,{'name': 'Porsche'},White
3,New 2020 Porsche Taycan 4S,{'itemcondition': 'http://schema.org/NewCondit...,Porsche,Y1ADB1,Taycan,{'name': 'Porsche'},Frozen Blue Metallic
4,New 2020 Porsche Cayenne Turbo,{'itemcondition': 'http://schema.org/NewCondit...,Porsche,9YACF1,Cayenne,{'name': 'Porsche'},Black

'Product_aliceandblair.co.uk_September2020.json.gz'

,name,offers,brand,mpn,itemcondition
0,Venus Velvet Croissant Headband,"[{'pricecurrency': 'GBP', 'availability': 'htt...",{'name': 'Alice & Blair'},None,https://schema.org/NewCondition
1,Imogen Knotted Silk Headband,"{'pricevaliduntil': '2020-10-27', 'gtin13': '5...",{'name': 'Alice & Blair'},5060720550532,https://schema.org/NewCondition
2,The Peggy Knit,"[{'pricecurrency': 'GBP', 'itemcondition': 'ht...",{'name': 'Alice & Blair'},None,https://schema.org/NewCondition
3,The Peggy Knit - Purple,"[{'pricecurrency': 'GBP', 'itemcondition': 'ht...",{'name': 'Alice & Blair'},None,https://schema.org/NewCondition
4,Swarovski Crystal Cushion Cut Hair Slide,[{'availability': 'https://schema.org/InStock'...,{'name': 'Alice & Blair'},5060720550396,https://schema.org/NewCondition

'Product_thinkshoes.com_September2020.json.gz'

,name,offers,brand,gtin13,releasedate
0,Kapsl Lace up - Grunge Estate,{'url': 'https://www.thinkshoes.com/en/kapsl-l...,Think!,9010463244829,2020-06-01
1,Obajo boot - Black,"{'price': '119.9', 'url': 'https://www.thinksh...",Think!,9010463023585,2019-06-01
2,Think! belt - cognac,{'url': 'https://www.thinkshoes.com/en/think-b...,Think!,9010463343669,2020-06-01
3,Think! Leather case - Black,{'url': 'https://www.thinkshoes.com/en/think-l...,Think!,9010463271245,2020-06-01
4,Civita Lace up - cognac,"{'sku': '9010463246199', 'price': '189.90', 'u...",Think!,9010463246199,2020-06-01

'Product_cellphoneoutletsale.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,model,manufacturer,color
0,Global Unlimited SIM by Mobal. Unlimited Roami...,"{'pricecurrency': 'USD', 'itemcondition': 'New...",Mobal,"{'ratingcount': '95', 'ratingvalue': '3.8', 'b...",None,None,Mobal,Micro SIM
1,Octopus GlueÂ® -UV LOCA Glue 3 ml Graduated Sy...,"{'pricecurrency': 'USD', 'price': '9.95', 'ite...",Octopus Glue,"{'ratingcount': '527', 'ratingvalue': '4.2', '...",OGLOCA3RBMF,OGLOCA3RBMF,Octopus Glue,3 ml Single
2,"ONLY 24h SALE! Apple iPhone 6 6S 4.7\"" inch Fr...","{'pricecurrency': 'USD', 'price': '29.99', 'it...",ESSENTIAL SALES4YOU,"{'ratingvalue': '3.7', 'ratingcount': '177', '...",5491027,E-G-B,ESSENTIAL SALES4YOU,IPHONE 6 6S BLACK Outer Glass + TOOLS + 3M TAPE +
3,Mudder Back Rear Camera Lens Cover Ring Replac...,"{'pricecurrency': 'USD', 'price': '6.59', 'ite...",Mudder,"{'ratingvalue': '4.0', 'ratingcount': '67', 'b...",MUDDER-ACCESSORY-KITS-1,MUDDER-ACCESSORY-KITS-1,Mudder,Silver
4,Ultra Mobile Triple Cut SIM Card w/ $29 Month ...,"{'pricecurrency': 'USD', 'price': '29.99', 'it...",HJ Wireless,"{'ratingvalue': '3.7', 'ratingcount': '10', 'b...",None,None,Ultra Mobile,$29 Monthly Plan

'Product_flowers4moscow.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,model,manufacturer
0,11 Pink Oriental Lilies,{'url': 'da/fragrance-10-pink-orientalske-lilj...,{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",BQP105,11 Pink Oriental Lilies,{'name': 'Paradise Promotions LTD.'}
1,Standard glas Vase,"{'pricecurrency': 'USD', 'price': '15.00', 'av...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",Vase101,Standard glas Vase,{'name': 'Paradise Promotions LTD.'}
2,Anthurium in a small pot,"{'price': '44.00', 'pricevaliduntil': '28-10-2...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",POT102,Anthurium in a small pot,{'name': 'Paradise Promotions LTD.'}
3,Iridescent Roses,"{'price': '54.00', 'pricevaliduntil': '28-10-2...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",IRI101,Iridescent Roses,{'name': 'Paradise Promotions LTD.'}
4,11 Orange Roses,"{'price': '44.00', 'url': 'golden-delight-12-o...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",BQO106,11 Orange Roses,{'name': 'Paradise Promotions LTD.'}

'Product_lastlooksfx.com_September2020.json.gz'

,name,offers,category,weight,releasedate,width,height,depth
0,Monda Magnetic Palette - 6 Small Pans,"{'pricecurrency': 'USD', 'itemcondition': 'New...",Tools &amp; Accessories > Empty Palettes,"{'unitcode': 'LBR', 'value': '.258'}",2020-07-29T18:32:03+00:00,"{'unitcode': 'INH', 'value': '3.01'}","{'unitcode': 'INH', 'value': '.64'}","{'unitcode': 'INH', 'value': '4.47'}"
1,SUPER Stick It! Double Sided Tape,"{'pricecurrency': 'USD', 'availability': 'http...",Wardrobe > Double Sided Tape,{'unitcode': 'LBR'},2020-06-23T00:10:07+00:00,{'unitcode': 'INH'},{'unitcode': 'INH'},{'unitcode': 'INH'}
2,PPI Dry Spray,"{'pricecurrency': 'USD', 'price': '21.99', 'it...",Makeup,"{'unitcode': 'LBR', 'value': '.17'}",2020-06-24T00:12:44+00:00,"{'unitcode': 'INH', 'value': '1.39'}","{'unitcode': 'INH', 'value': '4.98'}","{'unitcode': 'INH', 'value': '1.39'}"
3,Ben Nye Gel Wound Kit,"{'pricecurrency': 'USD', 'itemcondition': 'New...",Special FX,"{'value': '.66', 'unitcode': 'LBR'}",2020-06-19T03:21:54+00:00,"{'unitcode': 'INH', 'value': '1.52'}","{'unitcode': 'INH', 'value': '6'}","{'unitcode': 'INH', 'value': '4.34'}"
4,Bdellium SFX 136 Filbert Brush,"{'pricecurrency': 'USD', 'price': '15.00', 'it...",Tools &amp; Accessories > Makeup Brushes,"{'value': '.018', 'unitcode': 'LBR'}",2020-07-28T21:49:49+00:00,"{'unitcode': 'INH', 'value': '1.27'}","{'unitcode': 'INH', 'value': '.33'}","{'unitcode': 'INH', 'value': '8'}"

'Product_epsstore.com_September2020.json.gz'

,name,offers,brand,mpn,manufacturer
0,D39631,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Case Aftermarket'},D39631,{'name': 'Case Aftermarket'}
1,1543262C1,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Case Aftermarket'},1543262C1,{'name': 'Case Aftermarket'}
2,235643,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Case Aftermarket'},235643,{'name': 'Case Aftermarket'}
3,1U3202,"{'pricecurrency': 'USD', 'availability': 'http...",{'name': 'Case Aftermarket'},1U3202,{'name': 'Case Aftermarket'}
4,629257C1,"{'pricecurrency': 'USD', 'price': '139', 'avai...",{'name': 'Case Aftermarket'},629257C1,{'name': 'Case Aftermarket'}

'Product_clarkfuneralhomes.net_September2020.json.gz'

,name,offers,aggregaterating,review,itemcondition,model
0,Angel Pendant & Chain,"{'pricecurrency': 'USD', 'highprice': '119.95'...","{'reviewcount': '1', 'ratingvalue': '5.00'}",{'description': 'The pendant is beautiful and ...,NewCondition,{'url': 'https://www.clarkfuneralhomes.net/sto...
1,I Have You in My Heart Memorial Throw,"{'pricecurrency': 'USD', 'lowprice': '59.95', ...","{'reviewcount': '1', 'ratingvalue': '5.00'}","{'datepublished': '5/20/2020', 'name': 'I Have...",NewCondition,{'image': 'https://res.cloudinary.com/picasso/...
2,Garden Accent- Gone yet not forgotten...,"{'pricecurrency': 'USD', 'highprice': '49.95',...","{'reviewcount': '1', 'ratingvalue': '5.00'}","{'author': 'from -', 'name': 'Garden Accent- G...",NewCondition,"{'sku': '92220', 'image': 'https://res.cloudin..."
3,Widow to Widow,"{'pricecurrency': 'USD', 'highprice': '39.95',...",None,None,NewCondition,{'url': 'https://www.clarkfuneralhomes.net/sto...
4,A Piece of My Heart Necklace,"{'pricecurrency': 'USD', 'lowprice': '117.95',...","{'reviewcount': '1', 'ratingvalue': '5.00'}","{'author': 'from -', 'name': 'A Piece of My He...",NewCondition,"{'sku': 'R410013', 'url': 'https://www.clarkfu..."

'Product_skipperspetproducts.com_September2020.json.gz'

,name,offers,reviewcount,ratingvalue,bestrating,worstrating
0,Raw Whole Sardines (Sporting & Working Dog),"{'pricecurrency': 'GBP', 'price': '32.0'}",1.0,3.0,5.0,1.0
1,Raw Herring Mince (Sporting & Working Dog),"{'pricecurrency': 'GBP', 'price': '32.0'}",1.0,5.0,5.0,1.0
2,"50% Salmon, Trout & Sweet Potato GRAIN FREE Co...","{'price': '11.95', 'pricecurrency': 'GBP'}",56.0,5.0,5.0,1.0
3,Raw Salmon Mince (Sporting & Working Dog),"{'pricecurrency': 'GBP', 'price': '32.0'}",NaN,NaN,NaN,NaN
4,Copy of Bubble Dog Supersize Bubble Electric Gun,"{'pricecurrency': 'GBP', 'price': '0.0'}",NaN,NaN,NaN,NaN

'Product_lightshop.com_September2020.json.gz'

,name,offers,breadcrumb
0,Ray nickel wall,[1st GU10 LED 7W dimmable Unison €8/st Buy 1st...,Lamps Wall Lamps
1,Future,[1st Lamp plug 14cm cable Grounded €3/st Buy 1...,Lamps Ceiling Lamps Flush Mounts & Semi-Flush ...
2,Lizzie,"[{'price': '101', 'pricecurrency': 'EUR'}, 1st...",Lamps Ceiling Lamps
3,Circular,"{'price': '91', 'pricecurrency': 'EUR'}",Lamps Bathroom Lighting
4,Basic socket,"{'price': '18', 'pricecurrency': 'EUR'}",Lamps Ceiling Lamps Spotlights

'Product_verolinens.com_September2020.json.gz'

,name,offers,brand,aggregaterating,category,mpn,review
0,Serena Extra Deep Pocket Luxury Fitted Sheets,"{'price': '90', 'availability': 'http://schema...",Vero Luxury Bed Linens,"{'ratingvalue': '5', 'reviewcount': '3', 'rati...",[Bedding/Sheets & Pillowcases/Extra Deep Pocke...,S-QFI-W-P,"[{'datepublished': '2018-03-27', 'reviewbody':..."
1,Luxury Italian Ava Pillowcases,"{'pricecurrency': 'USD', 'availability': 'http...",Vero Luxury Bed Linens,"{'ratingvalue': '5', 'reviewcount': '5', 'rati...","[Bedding, Bedding/Sheets & Pillowcases/Pillowc...",A-SPC-W-P,"[{'reviewbody': 'The sheets feel great, just a..."
2,Luxury Egyptian Soft & Absorbent Cotton Christ...,"{'pricecurrency': 'USD', 'availability': 'http...",Christy Towels,"{'ratingvalue': '5', 'reviewcount': '5', 'rati...","[Accessories/Towels & Robes, Shop]",None,"[{'datepublished': '2018-02-13', 'name': 'Than..."
3,Luxury Italian Righetta Striped Pillow Shams,"{'pricecurrency': 'USD', 'availability': 'http...",Vero Luxury Bed Linens,None,"[Collections/Righetta, Bedding, Shop, Bedding/...",R-SPS-W-P,None
4,Summer Weight Baffle-Box Down Comforters (Ligh...,"{'pricecurrency': 'USD', 'availability': 'http...",Vero Luxury Bed Linens,"{'ratingcount': '12', 'ratingvalue': '5', 'rev...","[Bedding/Down Pillows & Comforters, Shop, Bedd...",C-QSW-W-P,[{'reviewbody': 'I am very pleased with the qu...

'Product_meshki.com.au_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,gtin13
0,Nina V Neck Crop Top - Cream,[{'itemcondition': 'https://schema.org/NewCond...,{'name': 'SOP'},None,9350536181225,9.350536e+12
1,Asha Fluffy Thin Strap Mini Dress - Lilac,[{'availability': 'https://schema.org/InStock'...,{'name': 'SOP'},"{'description': 'Okendo', 'ratingvalue': '5.0E...",9350536107287,9.350536e+12
2,Freda Halter Crop Top - Black,"[{'price': '23.00', 'name': 'Freda Halter Crop...",{'name': 'WXI'},None,9350536138977,9.350536e+12
3,Jaqueline Puffed Sleeves Ruched Mini Dress - W...,"[{'price': '79.00', 'name': 'Jaqueline Puffed ...",{'name': 'FCF'},"{'description': 'Okendo', 'ratingvalue': '5.0E...",9350536135730,9.350536e+12
4,Blythe Sequin Square Neck Midi Dress - Silver,"[{'pricevaliduntil': '2020-12-21', 'sku': 'sho...",{'name': 'ROM'},"{'description': 'Okendo', 'ratingcount': '6', ...",9350536104507,9.350536e+12

'Product_weimerhyundai.com_September2020.json.gz'

,name,offers,brand,mpn,model,manufacturer,releasedate,color
0,2020 Hyundai Tucson Sport,{'itemcondition': 'http://schema.org/NewCondit...,Hyundai,KM8J3CAL8LU211705,Tucson,Hyundai,2020,Black Noir Pearl
1,2021 Hyundai Kona SEL,{'itemcondition': 'http://schema.org/NewCondit...,Hyundai,KM8K2CAA7MU600715,Kona,Hyundai,2021,Pulse Red
2,2020 Hyundai Ioniq Hybrid SE,{'itemcondition': 'http://schema.org/NewCondit...,Hyundai,KMHC75LC9LU216806,Ioniq Hybrid,Hyundai,2020,Scarlet Red Pearl
3,2017 Ford Explorer XLT,"{'price': '26783', 'itemcondition': 'http://sc...",Ford,1FM5K8D86HGE09830,Explorer,Ford,2017,Ingot Silver Metallic
4,2020 Hyundai Santa Fe SEL,{'itemcondition': 'http://schema.org/NewCondit...,Hyundai,5NMS3CAD3LH233636,Santa Fe,Hyundai,2020,Calypso Red

'Product_sea.com.ua_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Terminal board set for TMS 25105C,"{'availability': 'https://schema.org/InStock',...",{'name': 'Traco Electronic AG'},"{'reviewcount': '1', 'ratingvalue': '5'}",185025
1,SZ8-Y11-W0-C7-A (W2C41G),"{'availability': 'https://schema.org/InStock',...","{'name': 'Seoul Semiconductor CO., LTD.'}","{'reviewcount': '1', 'ratingvalue': '5'}",286277
2,LL-1003UGD-2D-2B,"{'availability': 'https://schema.org/InStock',...","{'name': 'Lucky Light Electronics (ASIA). Co.,...","{'reviewcount': '1', 'ratingvalue': '5'}",98302
3,RH-HBL-07 (SS),"{'availability': 'https://schema.org/InStock',...","{'name': 'Reeth Glass Lens Co.,Limited'}","{'reviewcount': '1', 'ratingvalue': '5'}",294579
4,IceLED 550,"{'availability': 'https://schema.org/InStock',...","{'name': 'MechaTronix Kaohsiung Co., Ltd.'}","{'reviewcount': '1', 'ratingvalue': '5'}",218035

'Product_birdbaths.co.uk_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,"Pedestal Resin Bird Bath-Lily Leaf, Copper Eff...","{'price': '40.96', 'availability': 'https://sc...",{'name': 'World Source Partners'},"{'reviewcount': '89', 'ratingvalue': '5'}",830
1,Plutus Brands 16 Inch H Ceramic Bird Bath UE10...,"{'price': '0.00', 'pricevaliduntil': '2020-09-...",{'name': 'Plutus Brands'},"{'reviewcount': '89', 'ratingvalue': '5'}",832
2,VINTAGE Hanging bird feeder Shabby CHIC french...,"{'price': '0.00', 'availability': 'https://sch...",None,"{'reviewcount': '89', 'ratingvalue': '5'}",762
3,Green Jem Solar Bird Bath,"{'pricevaliduntil': '2020-09-22 07:14:38', 'av...",None,"{'reviewcount': '89', 'ratingvalue': '5'}",844
4,Smart Garden Solar Kingsbury 3 Tier Garden Wat...,"{'availability': 'https://schema.org/', 'price...",{'name': 'Smart Garden'},"{'reviewcount': '89', 'ratingvalue': '5'}",889

'Product_allojrboutik.com_September2020.json.gz'

,name,offers,brand,review,gtin13
0,DISCOVERY BEER BOOK KIRIN ICHIBAN 5*33CL + 1 V...,"{'pricevaliduntil': '2022-11-29', 'price': '17...",RueDuSite,{'author': 'RueDuSite'},NaN
1,TIGER ASIAN LAGER 33CL,"{'pricevaliduntil': '2022-11-29', 'price': '2....",RueDuSite,{'author': 'RueDuSite'},8.642826e+10
2,ALIZE WILD PASSION 1L,"{'pricevaliduntil': '2022-11-29', 'price': '17...",RueDuSite,{'author': 'RueDuSite'},8.469220e+10
3,BOX DECOUVERTE RHUMS N°2 - 3X70CL - ESTELAR + ...,"{'price': '67.24', 'pricevaliduntil': '2022-11...",RueDuSite,{'author': 'RueDuSite'},3.760065e+12
4,"BLACK TOWER SILVANER PINOT GRIGIO 0,75L","[{'price': '4.42', 'availability': 'https://sc...",RueDuSite,{'author': 'Rue Du Site'},4.069600e+12

'Product_flowers4reunion.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Simple Gluten Free,"{'pricevaliduntil': '25-10-2020', 'price': '99...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",12129
1,Sign of the Times,{'url': 'sign-of-the-times-flower-delivery.htm...,{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10872
2,Sweet Fruits,"{'price': '144.99', 'pricevaliduntil': '22-10-...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10093
3,Sweet Wake Up,"{'pricevaliduntil': '22-10-2020', 'url': 'swee...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10099
4,Total Care Package,"{'pricevaliduntil': '25-10-2020', 'url': 'tota...",{'name': 'Paradise Promotions LTD.'},"{'reviewcount': '911', 'ratingvalue': '4.5'}",10107

'Product_anmmotors.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,2005 Honda Pilot EX-L AT with NAVI,"{'availability': 'https://schema.org/InStock',...",{'name': 'Honda'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",2HKYF18705H504776
1,2015 Mercedes-Benz GL-Class 4MATIC 4dr GL 450,"{'availability': 'https://schema.org/InStock',...",{'name': 'Mercedes-Benz'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",4JGDF6EE2FA482329
2,2012 Audi A6 4dr Sdn quattro 3.0T Premium Plus,"{'availability': 'https://schema.org/InStock',...",{'name': 'Audi'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",WAUGGAFC4CN066766
3,2013 Audi Q5 quattro 4dr 2.0T Premium Plus,"{'availability': 'https://schema.org/InStock',...",{'name': 'Audi'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",WA1LFAFP6DA034220
4,2011 Maserati Quattroporte 4dr Sdn Quattroporte,"{'availability': 'https://schema.org/InStock',...",{'name': 'Maserati'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",ZAM39FKA3B0058811

'Product_mrosupply.com_September2020.json.gz'

,name,offers,brand,category,mpn,weight
0,M35200C HP/KW: 20 / 15 Series: MC3000 Type: Drive,"{'pricecurrency': 'USD', 'price': '4698.00', '...",{'name': 'ACTech-Lenze'},Automation > AC Variable Frequency Drive,M35200C,35.00
1,DODGE 100495 10020 CHAIN COUPLING CHAIN ASSY,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Dodge'},Couplings & Collars > Chain Couplings > Chain ...,100495,11.37
2,"DIXON RE150NO 1 1/2\"" NOTCHED CAM & GROOVE ADPT",{'url': 'https://www.mrosupply.com/hydraulics-...,{'name': 'Dixon'},Hydraulics and Pneumatics > Fittings and Conne...,RE150NO,1.12
3,"DIXON GNWP40 4\"" 304 TB NIPPLE WELDMENT PLAIN FAC",{'url': 'https://www.mrosupply.com/hydraulics-...,{'name': 'Dixon'},Hydraulics and Pneumatics > Fittings and Conne...,GNWP40,1.70
4,"DIXON RN34 316SS INSERT 1/2\""NPT","{'price': '23.00', 'itemcondition': 'http://sc...",{'name': 'Dixon'},Hydraulics and Pneumatics > Fittings and Conne...,RN34,0.10

'Product_eastsidemotorsports.com_September2020.json.gz'

,name,offers,price,shop-currency
0,FORD TKO 5-Speed Rear-Wheel Drive Manual Trans...,FORD TKO 5-Speed Rear-Wheel Drive Manual Trans...,"$2,595.00",USD
1,"[BELLHOUSING – SMALL BLOCK FORD 260, This is t...",Quick Time Bellhousing RM-6067 - Quick Time Fo...,$737.95,USD
2,GM Magnum 6-Speed Rear-Wheel Drive Manual Tran...,GM Magnum 6-Speed Rear-Wheel Drive Manual Tran...,"$3,195.00",USD
3,Twin Disc Clutch LSX to Tremec T56 8 Bolt - Or...,Twin Disc Clutch LSX to Tremec T56 8 Bolt - Or...,"$1,385.00",USD
4,"67-69 (Camaro, Firebird and Trans Am) 6 Speed ...","67-69 (Camaro, Firebird and Trans Am) 6 Speed ...","$4,599.99",USD

'Product_autobulbsdirect.co.uk_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,H6 Standard Replacement 12V 6W H6W Bayonet Bulb,"{'pricecurrency': 'GBP', 'url': 'h6w-12v-6w-ha...",ABD,"{'bestrating': '5', 'reviewcount': '34', 'rati...",P433C-1
1,16 Inch Ford Ka Plastic Rear Arm and Wiper Bla...,"{'pricecurrency': 'GBP', 'price': '13.99', 'pr...",ABD,"{'bestrating': '5', 'reviewcount': '11', 'rati...",LPW726
2,H4 Philips Vision Spare Bulb Kit,{'url': 'h4-philips-vision-spare-bulb-kit.html...,Philips,"{'bestrating': '5', 'ratingvalue': '4.67', 're...",69555728
3,D3S OSRAM Cool Blue Boost Xenarc 35W 7000K Xen...,"{'pricecurrency': 'GBP', 'pricevaliduntil': '2...",OSRAM,"{'bestrating': '5', 'ratingvalue': '4.2', 'rev...",66340CBB-HCB
4,"286 Coloured Blue, Green, Red or Amber 12V 1.2...","{'pricecurrency': 'GBP', 'pricevaliduntil': '2...",Ring Automotive,"{'bestrating': '5', 'ratingvalue': '4.86', 're...",R286R-10

'Product_societyofwanderers.com_September2020.json.gz'

,name,offers,brand,category,gtin13
0,Marmalade Skies - Biscuit Check Bedroom Pack,"[{'sku': '216MSBI', 'availability': 'https://s...",{'name': 'societyofwanderers'},Bedroom Packs,Code 128 Auto
1,Fog Stripe Fitted Sheet,"[{'price': '1.99E2', 'sku': '021WS', 'availabi...",{'name': 'societyofwanderers'},Fitted Sheets,Code 128 Auto
2,Charcoal Stripe Fitted Sheet,"[{'price': '2.09E2', 'name': 'Queen', 'priceva...",{'name': 'societyofwanderers'},Fitted Sheets,Code 128 Auto
3,Joan's Floral Pillowcase Sets,"[{'name': 'Standard', 'sku': '017JO', 'availab...",{'name': 'societyofwanderers'},Pillowcases,Code 128 Auto
4,Florence/Winifred Floral Double Sided Quilt,"[{'sku': '079WF', 'name': 'Cot', 'price': '1.7...",{'name': 'societyofwanderers'},Quilts,Code 128 Auto

'Product_tadeevo.com_September2020.json.gz'

,name,offers,brand,isrelatedto,gtin
0,Tadeevo savanna orange minimalist shoes,"{'pricecurrency': 'USD', 'price': '104.00'}",TadeEvo,None,5906874183021
1,Tadeevo savanna orange minimalist shoes,"{'price': '371.43', 'pricecurrency': 'PLN'}",TadeEvo,None,5906874183021
2,Tadeevo minimalist red classic ballet pumps,"{'pricecurrency': 'USD', 'price': '99.00'}",TadeEvo,[Tadeevo minimalist cherry blossom mesh ballet...,5906874183007
3,Tadeevo toddler minimalist coral shoes,"{'pricecurrency': 'USD', 'price': '59.00'}",TadeEvo,"[Tadeevo toddler minimalist orange shoes, Tade...",5906874183533
4,Tadeevo savanna orange minimalist shoes,"{'price': '94.99', 'pricecurrency': 'EUR'}",TadeEvo,None,5906874183021

'Product_jewelclues.com_September2020.json.gz'

,name,offers,brand,mpn,releasedate
0,Coffee Dates Gray Checkered Pants,"{'pricecurrency': 'USD', 'offercount': '3', 'h...",{'name': 'Q2'},3578602-36988,2020-02-07 14:39:37 -0500
1,Mia White T-Shirt With Crystal Rhinestones,"{'offercount': '2', 'lowprice': '54', 'highpri...",{'name': 'Q2'},6551714-35990,2020-03-02 12:04:11 -0500
2,Skinny Jeans With High Waist in Mid Wash,"{'pricecurrency': 'USD', 'highprice': '74', 'o...",{'name': 'Q2'},38730110-42752,2020-02-07 14:47:07 -0500
3,Perfect For You Light Wash Blue Skinny Jeans,"{'pricecurrency': 'USD', 'lowprice': '71', 'of...",{'name': 'Q2'},38674110-42040,2020-02-07 14:54:56 -0500
4,My Embroidered Navy Blue Mini Dress,"{'pricecurrency': 'USD', 'highprice': '67', 'o...",{'name': 'Q2'},7572817-36672,2020-03-02 12:04:20 -0500

'Product_buybestvitaminsonline.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Angostura Orange Bitters (12x4OZ ),"{'availability': '3', 'price': '$116.55'}",Angostura,"{'ratingvalue': '0', 'reviewcount': '0 reviews'}",BANNBWC33735
1,Golden Flavor Salted Sesame Sticks (1x15lb),"{'availability': '3', 'price': '$60.10'}",Golden Flavor,"{'ratingvalue': '0', 'reviewcount': '0 reviews'}",BANN25774
2,Tinkyada Lasagna Brown Rice Pasta (12x10 Oz),"{'availability': '3', 'price': '$63.50'}",Tinkyada,"{'ratingvalue': '0', 'reviewcount': '0 reviews'}",BANN31942
3,Fairhaven Brn Rice Flour (12x2LB ),"{'price': '$73.03', 'availability': '3'}",Fairhaven Organic Flour Mill,"{'ratingvalue': '0', 'reviewcount': '0 reviews'}",BANNBWA02292
4,Once Again PButter Smooth Ns (12x16OZ ),"{'availability': '3', 'price': '$104.48'}",Once Again,"{'ratingvalue': '0', 'reviewcount': '0 reviews'}",BANNBWC09396

'Product_klcoffeeclub.com.my_September2020.json.gz'

,name,offers,category,weight,releasedate
0,Brown Rose Milk Jug,"{'price': '210', 'itemcondition': 'NewConditio...",Accessories > Milk Pitcher,"{'value': '0.35', 'unitcode': 'KGM'}",2019-12-12T00:45:50+08:00
1,Ethiopian Yirgacheffe 200g,"{'price': '40', 'itemcondition': 'NewCondition...",Coffee Beans,"{'unitcode': 'KGM', 'value': '0.2'}",2019-12-11T23:27:00+08:00
2,Kenya AA 200g,"{'price': '40', 'itemcondition': 'NewCondition...",Coffee Beans,"{'unitcode': 'KGM', 'value': '0.2'}",2019-12-11T23:26:35+08:00
3,Slow Coffee Style Carafe Set 300ml,"{'price': '225', 'itemcondition': 'NewConditio...",Accessories > Cups &amp; Glassware,"{'value': '0.5', 'unitcode': 'KGM'}",2019-12-12T00:53:29+08:00
4,Tip of the Morning (Iced Tea),"{'price': '15', 'itemcondition': 'NewCondition...",Tea > Retail Tea,"{'value': '0.05', 'unitcode': 'KGM'}",2019-12-11T23:55:20+08:00

'Product_doctorschoice.org_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Meriva-SF by Thorne Research 120 Capsules,{'url': 'https://www.doctorschoice.org/Meriva-...,Thorne Research,"{'bestrating': '5', 'reviewcount': '1', 'worst...",SF815
1,Rhodiola Rosea by Pure Encapsulations 90 or 18...,{'itemcondition': 'http://schema.org/NewCondit...,Pure Encapsulations,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",RR9
2,Reduced Glutathione by Pure Encapsulations 60 ...,{'itemcondition': 'http://schema.org/NewCondit...,Pure Encapsulations,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",RG6
3,Ultra Pure Whey Protein - Vanilla by BioGenesis,{'itemcondition': 'http://schema.org/NewCondit...,Nutra BioGenesis,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",422
4,L-Tryptophan (500mg) by Pure Encapsulations 90...,{'itemcondition': 'http://schema.org/NewCondit...,Pure Encapsulations,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",TRY9

'Product_garden-teak.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,review
0,Jovi Wooden Bar Chair,"{'availability': 'instock', 'price': '1', 'pri...",{'name': 'Indonesia Garden Teak Outdoor Furnit...,"{'reviewcount': '1', 'ratingvalue': '5'}",9501,"{'datepublished': '2018-02-28T09:05:25+00:00',..."
1,Selvi Dining Chair and Bar Chair Set 2016,"{'availability': 'instock', 'pricevaliduntil':...",{'name': 'Indonesia Garden Teak Outdoor Furnit...,"{'reviewcount': '1', 'ratingvalue': '5'}",9496,{'description': 'Here is the center of Indones...
2,Walker Folding Chair B (Vertical Slats),"{'availability': 'instock', 'pricevaliduntil':...",{'name': 'Indonesia Garden Teak Outdoor Furnit...,"{'reviewcount': '1', 'ratingvalue': '5'}",9044,"{'datepublished': '2018-02-27T09:43:55+00:00',..."
3,Sonya Teak Round Table,"{'availability': 'instock', 'pricevaliduntil':...",{'name': 'Indonesia Garden Teak Outdoor Furnit...,"{'reviewcount': '1', 'ratingvalue': '5'}",9411,"{'author': 'admin', 'datepublished': '2018-02-..."
4,Canada sunbed easy chair,"{'availability': 'instock', 'price': '1', 'pri...",{'name': 'Indonesia Garden Teak Outdoor Furnit...,"{'reviewcount': '1', 'ratingvalue': '5'}",9081,"{'datepublished': '2018-02-27T09:44:17+00:00',..."

'Product_4-lift-chairs.com_September2020.json.gz'

,name,offers,aggregaterating,model,breadcrumb
0,USM 375M Heat & Massage Lift Chair,{'price': '$735.00'},"{'bestrating': '5', 'ratingvalue': '0.0', 'rev...",None,None
1,USM PR340 Heat and Massage Lift Chair,{'price': '$735.00'},"{'bestrating': '5', 'ratingvalue': '0.0', 'rev...",None,None
2,Golden PR-401S/M Cambridge Lift Chair,{'price': '$798.00'},"{'bestrating': '5', 'reviewcount': '0', 'worst...",PR-401SM,Home > Golden Lift Chairs > Golden Lift Chairs...
3,AmeriGlide Bathtub Roll-In Conversion Kit,{'price': '$592.00'},"{'bestrating': '5', 'ratingvalue': '5.0', 'rev...",BATH-ROLL,Home > Walk-in Tubs - Walk-in Bathtubs > Ameri...
4,Golden PR-355L Monarch Lift Chair,{'price': '$771.00'},"{'bestrating': '5', 'reviewcount': '0', 'worst...",PR-355L,Home > Golden Lift Chairs > Golden Lift Chairs...

'Product_genesiswaukesha.com_September2020.json.gz'

,name,offers,brand,mpn,model,manufacturer,releasedate,color
0,2016 Buick Verano Sport Touring Group,"{'pricecurrency': 'USD', 'availability': 'http...",Buick,1G4PW5SK8G4133452,Verano,Buick,2016,dark sapphire blue metallic
1,2015 Ford Mustang GT Premium,"{'pricecurrency': 'USD', 'availability': 'http...",Ford,1FA6P8CF7F5309809,Mustang,Ford,2015,Ruby Red Metallic Tinted Clearcoat
2,2008 Ford Mustang Shelby GT500,"{'pricecurrency': 'USD', 'availability': 'http...",Ford,1ZVHT88S985161098,Mustang,Ford,2008,Black Clearcoat
3,2018 Genesis G80 3.3T Sport,"{'pricecurrency': 'USD', 'price': '42999', 'av...",Genesis,KMHGN4JB0JU218744,G80,Genesis,2018,Caspian Black
4,2016 Hyundai Genesis 3.8,"{'pricecurrency': 'USD', 'availability': 'http...",Hyundai,KMHGN4JE3GU125493,Genesis,Hyundai,2016,Casablanca White

'Product_aeroclassicsdirect.com_September2020.json.gz'

,name,offers,brand,category,mpn
0,AEROCLASSICS SPIRIT A319 N525NK 1:400 Scale AC...,"{'pricevaliduntil': '2020-10-22', 'price': '37...",Porsche,Airliners,AC419663
1,AEROCLASSICS VARIG B737-200 n/c PP-VMG 1:400 S...,"{'pricevaliduntil': '2020-10-22', 'url': 'http...",Porsche,Airliners,AC419707B
2,AEROCLASSICS DELTA B757-200 N642DL 1:400 Scale...,{'url': 'https://aeroclassicsdirect.com/aerocl...,Porsche,Airliners,AC419424
3,AEROCLASSICS UNITED AIRLINES B767-200 N/C N681...,{'url': 'https://aeroclassicsdirect.com/aerocl...,Porsche,Airliners,AC419436
4,AEROCLASSICS GARUDA INDONESIA B737 MAX8 PK-GDB...,"{'pricevaliduntil': '2020-10-27', 'price': '37...",Porsche,Airliners,AC419302

'Product_bunkbedscanada.com_September2020.json.gz'

,name,offers,brand,aggregaterating,review,gtin8
0,"Solid Wood Bunk Bed w Angle Ladder, Slide, Cur...","{'pricecurrency': 'CAD', 'price': '3288', 'pri...",{'name': 'Maxtrix'},"{'ratingvalue': '100', 'worstrating': '0', 'be...",{'author': 'Guest'},MX-CHUCKLE23-P-C
1,"Solid Wood Bunk Bed w Staircase, Curtain and T...","{'pricecurrency': 'CAD', 'pricevaliduntil': '2...",{'name': 'Maxtrix'},"{'ratingvalue': '100', 'worstrating': '0', 'be...",{'author': 'Guest'},MX-SNAZZY29-S-N
2,"Solid Wood Bunk Bed w Staircase, Curtain and T...","{'pricecurrency': 'CAD', 'pricevaliduntil': '2...",{'name': 'Maxtrix'},"{'ratingvalue': '100', 'worstrating': '0', 'be...",{'author': 'Guest'},MX-MUCHO80-S-W
3,"Solid Wood Bunk Bed w Staircase, Curtain and T...","{'pricecurrency': 'CAD', 'pricevaliduntil': '2...",{'name': 'Maxtrix'},"{'ratingvalue': '100', 'worstrating': '0', 'be...",{'author': 'Guest'},MX-MUCHO29-C-W
4,"Solid Wood Bunk Bed w Angle Ladder, Slide and ...","{'pricecurrency': 'CAD', 'price': '2668', 'ite...",{'name': 'Maxtrix'},"{'ratingvalue': '100', 'worstrating': '0', 'be...",{'author': 'Guest'},MX-LAUGH27-C-N

'Product_austriacar.com_September2020.json.gz'

,name,offers,brand,mpn,manufacturer
0,费率 低至,"[{'itemcondition': '每日', 'price': '19', 'price...",{'name': 'Part of Ecommerce Group Ltd.'},维也纳 租车,{'name': 'Part of Ecommerce Group Ltd.'}
1,ЦЕНИ ОТ,"[{'price': '23', 'itemcondition': 'На ден', 'p...",{'name': 'Part of Ecommerce Group Ltd.'},Залцбург Коли под наем,{'name': 'Part of Ecommerce Group Ltd.'}
2,PRECIOS DESDE,"[{'price': '23', 'itemcondition': 'POR DIA', '...",{'name': 'Part of Ecommerce Group Ltd.'},Graz Alquiler De Coches,{'name': 'Part of Ecommerce Group Ltd.'}
3,PRISER FRA,"[{'pricecurrency': 'USD', 'itemcondition': 'PE...",{'name': 'Part of Ecommerce Group Ltd.'},Innsbruck Bilutleie,{'name': 'Part of Ecommerce Group Ltd.'}
4,PRISER FRÅN,"[{'pricecurrency': 'USD', 'itemcondition': 'PE...",{'name': 'Part of Ecommerce Group Ltd.'},Wien Biluthyrning,{'name': 'Part of Ecommerce Group Ltd.'}

'Product_lurap.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Deepika Padukone Surplice Neck Jump Suit,"{'pricevaliduntil': '2020-11-05', 'itemconditi...",{'name': 'Lurap Fashion'},"{'ratingvalue': '4.1', 'reviewcount': '278'}",LU2150989
1,Cold-Shoulder fit & fared short denim dress,"{'pricevaliduntil': '2020-11-05', 'itemconditi...",{'name': 'Lurap Fashion'},"{'reviewcount': '341', 'ratingvalue': '4.9'}",LU2170002
2,GLAM SHORT DRESS,"{'pricevaliduntil': '2020-11-05', 'itemconditi...",{'name': 'Lurap Fashion'},"{'reviewcount': '153', 'ratingvalue': '4.7'}",LU2170101
3,Princess Diaries Gown,"{'price': '71.00', 'pricevaliduntil': '2020-11...",{'name': 'Lurap Fashion'},"{'ratingvalue': '4.4', 'reviewcount': '235'}",LU2150675-5
4,Little Black Dots Top,"{'pricevaliduntil': '2020-11-05', 'itemconditi...",{'name': 'Lurap Fashion'},"{'ratingvalue': '4.4', 'reviewcount': '448'}",OS2150432

'Product_batchnashville.com_September2020.json.gz'

,name,offers,brand,category,gtin8
0,EVO Greek Marinade,"{'sku': '1323-A', 'name': 'EVO Greek Marinade'...",{'name': 'EVO'},NASH Wholesale Market,16407883.0
1,Little Seed Farm Elasticity Serum,"{'name': 'Little Seed Farm Elasticity Serum', ...",{'name': 'Little Seed Farm'},NASH Wholesale Market,62630475.0
2,Walker Feed Company Honeysuckle Sour Mix,"[{'pricevaliduntil': '2020-10-11', 'sku': '199...",{'name': 'Walker Feed Company'},NASH Wholesale Market,30494533.0
3,EVO Original Famous Salsa,[{'availability': 'https://schema.org/InStock'...,{'name': 'EVO'},NASH Wholesale Market,59858251.0
4,Hot Chicken Cookbook,"{'name': 'Hot Chicken Cookbook', 'availability...",{'name': 'Spring House Press'},NASH Wholesale Market,NaN

'Product_jellifishkids.com_September2020.json.gz'

,name,offers,brand,weight,gtin12
0,"Girls Pajama Bottoms, Cozy Fleece Sleep Pants,...",[{'itemcondition': 'http://schema.org/NewCondi...,{'name': 'Jellifish Kids'},0.136kg,771303748653
1,Girls 2-Piece Knit Pajamas Short Set | Flannel...,[{'itemcondition': 'http://schema.org/NewCondi...,{'name': 'Jellifish Kids'},1.2kg,771303732454
2,"Toddlers &amp; Girls Pajamas, Blanket Sleeper ...","[{'sku': 'CA-295119-Penguin-3T', 'itemconditio...",{'name': 'Jellifish Kids'},0.55kg,771303748974
3,"Jellifish Kids Boys 2-Piece Pajama Set, Long-S...",[{'itemcondition': 'http://schema.org/NewCondi...,{'name': 'Jellifish Kids'},0.7kg,771303701641
4,Boys 2 Piece Pajama Set | Long Sleeve Sloth Pr...,"[{'gtin12': '771303720505', 'itemcondition': '...",{'name': 'Jellifish Kids'},0.45kg,771303720482

'Product_dugcandy.com_September2020.json.gz'

,name,offers,brand,aggregaterating,category,mpn,review
0,Magnetic USB Fast Charging Micro / Type C Cable,{'url': 'https://dugcandy.com/magnetic-usb-fas...,dugcandy.com,"{'ratingvalue': '5.00', 'reviewcount': '24'}",None,1519,None
1,Multifunctional Car Seat Organizer,[{'availability': 'https://schema.org/InStock'...,{'name': 'dugcandy.com'},"{'ratingvalue': '5', 'reviewcount': '19'}",Best Sellers,4230,[{'reviewbody': 'Very very good packed and awe...
2,Magic Silicone Washing Sponge Gloves,"{'availability': 'https://schema.org/InStock',...",{'name': 'dugcandy.com'},"{'ratingvalue': '4.9E0', 'reviewcount': '20'}",Home Goods,2755,"[{'reviewbody': 'Gloves, dense but came with a..."
3,Customized Flashing Cyber Glasses,"{'price': '39.95', 'availability': 'https://sc...",{'name': 'dugcandy.com'},"{'reviewcount': '11', 'ratingvalue': '5'}",Accessories,3855,"[{'reviewbody': 'I'm happy'}, {'reviewbody': '..."
4,Cute Repeating Talking Plush Hamster,{'name': 'Cute Repeating Talking Plush Hamster...,{'name': 'dugcandy.com'},"{'ratingvalue': '5', 'reviewcount': '14'}",Toys,3543,[{'reviewbody': 'I waited a long time for a ha...

'Product_sunzale.com_September2020.json.gz'

,name,offers,brand,category,mpn
0,100W 18V Mono Solar Panel USB 12V/5V DC Monocr...,[{'name': '100W 18V Mono Solar Panel USB 12V/5...,www.sunzale.com,Flexible Solar Panels,70
1,2P 32A DC 440V Circuit breaker MCB,None,www.sunzale.com,Accessories,4405
2,2P DC 1000V Solar Mini Circuit Breaker 10A/16A...,[{'name': '2P DC 1000V Solar Mini Circuit Brea...,www.sunzale.com,Accessories,4402
3,External Shunt FL-2 200A 100A 50A 30A 20A 10A ...,[{'url': 'https://www.sunzale.com/external-shu...,www.sunzale.com,Accessories,6873
4,1 pair M/FM Solar Panel MC4 4 to 1 T Branch 30...,None,www.sunzale.com,Accessories,5241

'Product_kahligauto.com_September2020.json.gz'

,name,offers,brand,mpn,model,manufacturer,releasedate,color
0,2018 Ford Explorer Limited,{'itemcondition': 'http://schema.org/UsedCondi...,Ford,1FM5K7F85JGA55117,Explorer,Ford,2018,PLATINUM DUNE METALLIC TRI-COAT
1,2018 Jeep Grand Cherokee Altitude,"{'pricecurrency': 'USD', 'availability': 'http...",Jeep,1C4RJEAG5JC110216,Grand Cherokee,Jeep,2018,Diamond Black Crystal Pearlcoat
2,2016 Chevrolet Colorado 4WD Z71,"{'price': '29995', 'name': '2016 Chevrolet Col...",Chevrolet,1GCGTDE39G1115135,Colorado,Chevrolet,2016,Red Rock Metallic
3,2019 Ford F-250SD XLT,"{'price': '45741', 'availability': 'https://sc...",Ford,1FT7W2BT2KED84773,F-250SD,Ford,2019,White
4,2016 Ram 1500 Laramie,"{'price': '32795', 'itemcondition': 'http://sc...",Ram,1C6RR7VMXGS344135,1500,Ram,2016,Granite Crystal Metallic Clearcoat

'Product_18dsc.com.hk_September2020.json.gz'

,name,offers,brand,mpn,model
0,EXE - Japanese Real Hole Minami Hatsukawa Meiki,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'EXE'},4580279018655,UGAN-086
1,Kiteru - Ponkotsu Guardian LV2 Meiki,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Kiteru Kiteru キテルキテル'},4988118642175,8-SDM-031
2,Tamatoys - Buckle Lock Combination Expansion K...,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Tamatoys'},4589717850932,KNK-077
3,Mon Chéri Sexy Lace Teddy with Black Bows,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'mon chéri'},4580395730851,mon0014
4,EXE - Waterproof Remote Vibrating Back Plug 9,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'EXE'},4582593572967,UPPP-175

'Product_coolermaster.com_September2020.json.gz'

,name,brand,category,manufacturer,releasedate
0,MasterLiquid ML360P Silver Edition,Cooler Master,Coolers,Cooler Master,23/09/2019 12:00:00 AM
1,Hyper TX3 EVO,Cooler Master,Coolers,Cooler Master,31/12/2012 12:00:00 AM
2,MasterBox MB500,Cooler Master,Cases,Cooler Master,10/01/2018 12:00:00 AM
3,MASTERLIQUID ML240P MIRAGE,Cooler Master,Coolers,Cooler Master,17/06/2019 12:00:00 AM
4,MasterGel Maker,Cooler Master,Coolers,Cooler Master,25/06/2019 12:00:00 AM

'Product_shopsolarkits.com_September2020.json.gz'

,name,offers,brand,mpn,weight
0,Schneider - Conext SW 120/240VAC AC Breaker Pa...,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Schneider Electric'},RNW8651017,25.0lb
1,DCC50S 12V 50A DC-DC On-Board Battery Charger ...,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Renogy'},RBC50D1S-G1,0.1lb
2,AIMS Power 2500 Watt Power Inverter 24 Volt | ...,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'AIMS power'},PWRINV250024W,6.2lb
3,Go Power! 3000 Watt Industrial Pure Sine Wave ...,[{'itemcondition': 'http://schema.org/NewCondi...,{'name': 'Go Power'},GP-ISW-3000-12,18.08lb
4,SUNWANDERER 160W PORTABLE SOLAR KIT | SWD160-12P,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Newpowa'},SWD160-12P,0.0lb

'Product_displays2buy.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Displays Solution Acrylic Case w/5 trays Pastr...,{'itemcondition': 'http://schema.org/NewCondit...,Displays Solution,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",DS-Bakery Acrylic Case w/5 trays
1,"Displays Solution 16\"" x 12\"" x 2\"" Locking Se...",{'itemcondition': 'http://schema.org/NewCondit...,Displays Solution,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",DS-16
2,"Displays Solution 12\"" x 8\"" x 16\"" WITHOUT DO...","{'price': '35.95', 'itemcondition': 'http://sc...",Displays Solution,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",DS-12
3,"Displays SOlution 12\"" x 6\"" x 16 w/2 Shelves ...",{'itemcondition': 'http://schema.org/NewCondit...,Displays Solution,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",DS-12
4,"Displays Solution 8\"" Pizza Showcase Retail St...",{'itemcondition': 'http://schema.org/NewCondit...,Displays Solution,"{'bestrating': '5', 'ratingvalue': '0', 'revie...",DS-8

'Product_happycostume.com_September2020.json.gz'

,name,offers,brand,category,mpn
0,Vampire Queen Costume 3pc,"{'price': '7500', 'availability': 'http://sche...",{'name': 'Leg Avenue'},����/����/�o���p�C�A,85435
1,Captain Barrett Costume,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Underwraps'},�����Y,28586
2,Buzzed Bee Costume,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Music Legs'},��,71036
3,Bunny Headband,"{'price': '1400', 'itemcondition': 'http://sch...",{'name': 'Music Legs'},�J�`���[�V��,71071
4,Buccaneer Mens Pirate Costume,{'itemcondition': 'http://schema.org/NewCondit...,{'name': 'Music Legs'},�����Y,76008

'Product_georgiaautogallery.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,2011 Kia Sorento LX,"{'price': '1500', 'availability': 'https://sch...",{'name': 'Kia'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",5XYKT4A21BG063516
1,2012 Toyota Camry LE,"{'availability': 'https://schema.org/InStock',...",{'name': 'Toyota'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",4T1BF1FK6CU061027
2,2015 Dodge Journey SXT,"{'price': '2000', 'availability': 'https://sch...",{'name': 'Dodge'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",3C4PDCBB2FT708541
3,2012 Toyota Camry SE,"{'price': '1800', 'availability': 'https://sch...",{'name': 'Toyota'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",4T1BF1FK2CU023679
4,2013 Volkswagen Jetta SE,"{'availability': 'https://schema.org/InStock',...",{'name': 'Volkswagen'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",3VWDX7AJ2DM361257

'Product_arcticsummit.com_September2020.json.gz'

,name,offers,price,shop-currency
0,Adjustable Silicone Bracelet with Stainless St...,Adjustable Silicone Bracelet with Stainless St...,$ 12.99,USD
1,275 Paracord Bracelet with Engraved Small Rect...,275 Paracord Bracelet with Engraved Small Rect...,$ 29.59,USD
2,275 Paracord Bracelet with Engraved Small Rect...,275 Paracord Bracelet with Engraved Small Rect...,$ 29.59,USD
3,Engraved Stainless Steel Oval Medical Bracelet...,Engraved Stainless Steel Oval Medical Bracelet...,$ 16.99,USD
4,275 Paracord Bracelet with Engraved Stainless ...,275 Paracord Bracelet with Engraved Stainless ...,$ 29.59,USD

'Product_littleappletoyota.net_September2020.json.gz'

,name,offers,brand,mpn,model,manufacturer,releasedate,color
0,2020 Toyota RAV4 LE,"{'pricecurrency': 'USD', 'availability': 'http...",Toyota,2T3G1RFV4LW133329,RAV4,Toyota,2020,Ruby Flare Pearl
1,2020 Toyota Corolla Hybrid LE,"{'pricecurrency': 'USD', 'availability': 'http...",Toyota,JTDEBRBE7LJ023206,Corolla Hybrid,Toyota,2020,Blizzard Pearl
2,2020 Toyota Sienna XLE,{'itemcondition': 'http://schema.org/NewCondit...,Toyota,5TDYZ3DC7LS080204,Sienna,Toyota,2020,Midnight Black Metallic
3,2020 Toyota Tacoma TRD Sport,"{'pricecurrency': 'USD', 'availability': 'http...",Toyota,3TMCZ5AN7LM368008,Tacoma,Toyota,2020,0218
4,2020 Toyota 4Runner TRD Off-Road,"{'pricecurrency': 'USD', 'availability': 'http...",Toyota,JTEBU5JR8L5827366,4Runner,Toyota,2020,Magnetic Gray Metallic

'Product_vipplasticsurgery.com_September2020.json.gz'

,name,offers,brand,aggregaterating,category
0,Breast Augmentation,"{'pricecurrency': 'USD', 'lowprice': '7100.00'...",{'name': 'VIP Plastic Surgery'},"{'reviewcount': '173', 'ratingvalue': '5.0E0',...",Plastic Surgery > Breast
1,Hyaluronidase,"{'pricecurrency': 'USD', 'lowprice': '300.00',...",{'name': 'VIP Plastic Surgery'},"{'ratingvalue': '5.0E0', 'reviewcount': '3', '...",Plastic Surgery > Injectables
2,Nonsurgical Skin Tightening,"{'pricecurrency': 'USD', 'highprice': '1500.00...",{'name': 'VIP Plastic Surgery'},"{'ratingcount': '27', 'ratingvalue': '5.0E0', ...",Plastic Surgery > Nonsurgical
3,Facelift,"{'pricecurrency': 'USD', 'lowprice': '10000.00...",{'name': 'VIP Plastic Surgery'},"{'ratingvalue': '5.0E0', 'ratingcount': '22', ...",Plastic Surgery > Face
4,Breast Reduction,"{'pricecurrency': 'USD', 'lowprice': '8500.00'}",{'name': 'VIP Plastic Surgery'},"{'ratingvalue': '5.0E0', 'ratingcount': '109',...",Plastic Surgery > Breast

'Product_preciousapril.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,Heidi Set,"{'pricecurrency': 'AUD', 'availability': 'http...",{'name': 'Precious April'},"{'bestrating': '5', 'reviewcount': '1', 'ratin...",SS20HEIDISET-1
1,Trinity Bloomer,"{'pricecurrency': 'AUD', 'availability': 'http...",{'name': 'Precious April'},None,PASpring20TrinityBloomer-1
2,Audrey Dress,"{'price': '35.95', 'pricecurrency': 'AUD', 'av...",{'name': 'Precious April'},"{'bestrating': '5', 'reviewcount': '1', 'ratin...",SS20AUDREY-1
3,April Dress,"{'pricecurrency': 'AUD', 'availability': 'http...",{'name': 'Precious April'},"{'bestrating': '5', 'reviewcount': '5', 'ratin...",SS19APRILDA-2
4,Mia Onesie,"{'pricecurrency': 'AUD', 'availability': 'http...",{'name': 'Precious April'},None,PASpring20Mia-3

'Product_redragonshop.com_September2020.json.gz'

,name,offers,brand,aggregaterating,gtin13
0,HELIOS H710,"{'pricevaliduntil': '2025', 'price': '59.99', ...",Redragonshop,"{'worstrating': '1', 'ratingvalue': '4.89', 'b...",NaN
1,VAMPIRE ELITE M686,"{'price': '42.99', 'pricevaliduntil': '2025', ...",Redragonshop,"{'worstrating': '1', 'itemreviewed': 'VAMPIRE ...",4.897094e+12
2,VATA K580,"{'pricevaliduntil': '2025', 'sku': '55-100-111...",Redragon,"{'worstrating': '1', 'bestrating': '5', 'itemr...",4.897094e+12
3,DEVARAJAS K556 (Red Switches),{'url': 'https://www.redragonshop.com/products...,Redragonshop,None,4.897094e+12
4,H510 ZEUS,"{'pricevaliduntil': '2025', 'price': '49.99', ...",Redragonshop,"{'reviewcount': '55', 'worstrating': '1', 'rat...",4.897094e+12

'Product_bagbyphotography.com_September2020.json.gz'

,name,offers,brand,aggregaterating,review
0,Headlight Projector Beam,"[{'pricecurrency': 'USD', 'itemcondition': 'ht...",Headlight Projector Beam,"{'reviewcount': '12', 'ratingvalue': '3.8'}",[{'name': 'Headlight Projector Beam at great p...
1,Side Pivot,"[{'pricecurrency': 'USD', 'itemcondition': 'ht...",Side Pivot,"{'reviewcount': '12', 'ratingvalue': '3.8'}",[{'reviewbody': 'This is a nice looking Side P...
2,Hand Ornament,"[{'pricecurrency': 'USD', 'itemcondition': 'ht...",Hand Ornament,"{'reviewcount': '12', 'ratingvalue': '3.8'}",[{'reviewbody': 'This is a nice looking Hand O...
3,Election The Wall,"[{'pricecurrency': 'USD', 'itemcondition': 'ht...",Election The Wall,"{'reviewcount': '12', 'ratingvalue': '3.8'}","[{'reviewbody': 'Good quality', 'name': 'Good ..."
4,Side Clutch,"[{'pricecurrency': 'USD', 'itemcondition': 'ht...",Side Clutch,"{'reviewcount': '12', 'ratingvalue': '3.8'}","[{'name': 'Side Clutch in good condition', 're..."

'Product_vortexhobbies.com_September2020.json.gz'

,name,offers,brand,mpn,manufacturer
0,Traxxas Fox Edition Ford Raptor 1/10 Scale 2Wd...,"{'pricecurrency': 'USD', 'price': '$249.95'}",Traxxas,58094-1-FOX,{'name': 'Traxxas'}
1,Spektrum LHCP Omni straight connector,"{'pricecurrency': 'USD', 'price': '$12.50'}",Spektrum,VX5811,{'name': 'Spektrum'}
2,"Spektrum 4.3\"" FPV Video Monitor with DVR","{'pricecurrency': 'USD', 'price': '$84.99'}",Spektrum,VM435,{'name': 'Spektrum'}
3,Immersion RC ImmersionRC Vortex Replacement ESC,"{'pricecurrency': 'USD', 'price': '$19.99'}",Immersion RC,IRLEZESC12,{'name': 'Immersion RC'}
4,Thunder Tiger Pd08-0006-G Wheel Hub Set Grn,"{'pricecurrency': 'USD', 'price': '$6.69'}",Thunder Tiger,PD08-0006-G,{'name': 'Thunder Tiger'}

'Product_angeloscds.com_September2020.json.gz'

,name,offers,brand,aggregaterating,review,gtin12
0,Yung Lean - Starz [Green & Black 2LP],"{'price': ['13.98', '9.99', '25.98'], 'gtin12'...",YEAR0001,"{'reviewcount': '100', 'ratingvalue': '5'}",{'description': 'Double green and black vinyl ...,5.056167e+12
1,Giovanna - Ho Passato Un Brutto Inverno (Ita),"{'gtin12': '8051766036521', 'price': '34.99', ...",IMPORTS,"{'reviewcount': '100', 'ratingvalue': '5'}","{'datepublished': '2011-04-01', 'author': 'unk...",8.051766e+12
2,Brahms / Wallfisch / Rushton - Songs Of Love &...,"{'price': '16.99', 'pricecurrency': 'USD', 'ur...",RESONUS CLASSICS,"{'reviewcount': '100', 'ratingvalue': '5'}","{'datepublished': '2011-04-01', 'author': 'unk...",5.060263e+12
3,Kalen & Aslyn - Back Of Our Minds,"{'description': '2020 release. \""Some of these...",NORMALTOWN RECORDS,"{'reviewcount': '100', 'ratingvalue': '5'}","{'datepublished': '2011-04-01', 'author': 'unk...",6.073961e+11
4,- Girls Guns Blood / (Mod),"{'pricecurrency': 'USD', 'pricevaliduntil': '(...",RISING SUN MEDIA,"{'reviewcount': '100', 'ratingvalue': '5'}","{'datepublished': '2011-04-01', 'author': 'unk...",8.100447e+11

'Product_finnsisu.com_September2020.json.gz'

,name,offers,brand,itemcondition,gtin13
0,Salomon Salomon S/Race Skate Plus Pilot Boot,"{'price': '280.00', 'availability': 'https://s...",Salomon,https://schema.org/NewCondition,8.896460e+11
1,Tailwind Nutrition Tailwind Endurance Fuel 30 ...,"{'availability': 'https://schema.org/InStock',...",Tailwind Nutrition,https://schema.org/NewCondition,8.552830e+11
2,Rottefella Rottefella Xcelerator Pro Classic B...,"{'price': '99.99', 'availability': 'https://sc...",Rottefella,https://schema.org/NewCondition,7.036370e+12
3,Salomon Salomon Speedtrak Men's,"{'inventorylevel': '2', 'availability': 'https...",Salomon,https://schema.org/NewCondition,8.896452e+11
4,Finn Sisu Covid T Shirt - MEN,"{'availability': 'https://schema.org/InStock',...",None,https://schema.org/NewCondition,NaN

'Product_begmurahonline.com_September2020.json.gz'

,name,offers,brand,aggregaterating,category,mpn,review
0,2019 Women Leather Backpacks Vintage Female Sh...,"{'availability': 'https://schema.org/InStock',...",{'name': 'begmurahonline.com'},None,Backpack,2174,None
1,QUTAA 2020 Stretch Fabrics Over The Knee Boots...,[{'name': 'QUTAA 2020 Stretch Fabrics Over The...,{'name': 'begmurahonline.com'},"{'reviewcount': '17', 'ratingvalue': '5'}",kasut,1101,[{'reviewbody': 'Great shoes! Everything is ex...
2,Male 45L Travel backpack 15.6 Laptop Backpack ...,[{'availability': 'https://schema.org/InStock'...,{'name': 'begmurahonline.com'},"{'ratingvalue': '5', 'reviewcount': '10'}",Backpack,1217,[{'reviewbody': 'This product is incredibly be...
3,new high top fashion staly casual shoes for me...,"[{'pricevaliduntil': '2020-10-27', 'availabili...",{'name': 'begmurahonline.com'},"{'reviewcount': '15', 'ratingvalue': '4.6E0'}",kasut,1153,"[{'reviewbody': 'you send me to big'}, {'revie..."
4,New model cow leather large backpack outdoor t...,"{'pricevaliduntil': '2020-10-27', 'availabilit...",{'name': 'begmurahonline.com'},None,Backpack,1056,None

'Product_weinundgeist.com_September2020.json.gz'

,name,offers,brand,mpn,manufacturer,releasedate
0,2013 Somni,"{'price': '40.94', 'availability': 'http://sch...",{'name': 'Portal del Priorat'},40020011,{'name': 'Portal del Priorat'},00.00.0000
1,2013 Salzberg,"{'price': '76.03', 'availability': 'http://sch...",{'name': 'Heinrich'},30010036,{'name': 'Heinrich'},00.00.0000
2,2013 K&Auml;FERBERG Erste Lage Gr&uuml;ner Vel...,"{'availability': 'http://schema.org/InStock', ...",{'name': 'Loimer'},30050017,{'name': 'Loimer'},00.00.0000
3,Rapid Ice K&uuml;hlmanschette,"{'price': '7.7', 'availability': 'http://schem...",{'name': 'Vacu Vin'},90040003,{'name': 'Vacu Vin'},00.00.0000
4,2018 EICHHORN Pinot Bianco,"{'availability': 'http://schema.org/InStock', ...",{'name': 'Manincor'},20030045,{'name': 'Manincor'},00.00.0000

'Product_clothingpalettes.com_September2020.json.gz'

,name,offers,brand,aggregaterating,category,mpn,review
0,Women’s Animal Prints Summer T-Shirt,[{'url': 'https://clothingpalettes.com/womens-...,clothingpalettes.com,"{'ratingcount': '17', 'ratingvalue': '5'}",Best Sellers,6177,"[{'reviewbody': 'As in the photo, size m at 44..."
1,Emerald Green Velvet Party Women’s Crop T-Shirt,"{'price': '21.00', 'pricecurrency': 'USD', 'na...",clothingpalettes.com,"{'ratingcount': '7', 'ratingvalue': '5'}",Best Sellers,6365,"[{'reviewbody': 'Just like the picture shown',..."
2,Women’s Glossy Detail Rivet Belt Bag,{'url': 'https://clothingpalettes.com/womens-g...,clothingpalettes.com,"{'ratingcount': '16', 'ratingvalue': '5'}",Best Sellers,7755,"[{'author': 'M***s', 'reviewbody': 'I love the..."
3,Women’s One Shoulder Ruffled Blouse,[{'url': 'https://clothingpalettes.com/womens-...,clothingpalettes.com,"{'ratingcount': '16', 'ratingvalue': '5'}",Blouses & Shirts,2045,[{'reviewbody': 'Consistent with the descripti...
4,Women’s Cosmetic Storage Bag,[{'url': 'https://clothingpalettes.com/womens-...,clothingpalettes.com,"{'ratingcount': '48', 'ratingvalue': '5'}",Women Accessories,1506,"[{'author': 'N***h', 'reviewbody': 'Good!'}, {..."

'Product_skatepro.uk_September2020.json.gz'

,name,offers,brand,aggregaterating,gtin13
0,Powerslide One Allround Skate Helmet,"{'price': '23.95', 'pricecurrency': 'GBP'}",{'name': 'Powerslide Skates'},"{'bestrating': '5', 'reviewcount': '48', 'wors...",4040333492208
1,Atomic Redster Carbon Classic Cold S Cross Cou...,"{'price': '339.95', 'pricecurrency': 'GBP'}",{'name': 'Atomic Skis'},None,0884397248111
2,Hyper Concrete +G Inline Skate Wheels 4-pack,"{'price': '30.95', 'pricecurrency': 'GBP'}",{'name': 'Hyper Wheels'},"{'bestrating': '5', 'reviewcount': '45', 'wors...",0790782043196
3,Crisp Stunt Scooter Brake,"{'price': '17.95', 'pricecurrency': 'GBP'}",{'name': 'Crisp scooters'},"{'bestrating': '5', 'worstrating': '1', 'revie...",None
4,Hella Grip Broadway Stunt Scooter Grips,"{'pricecurrency': 'GBP', 'price': '18.95'}",{'name': 'Hella Grip'},"{'bestrating': '5', 'reviewcount': '7', 'worst...",None

'Product_classiccarsales.net_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn
0,1999 Lexus RX 300 Luxury SUV 4dr SUV,"{'availability': 'https://schema.org/InStock',...",{'name': 'Lexus'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",JT6GF10U8X0017782
1,2012 Land Rover Range Rover 4WD 4dr HSE LUX,"{'price': '16995', 'availability': 'https://sc...",{'name': 'Land Rover'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",SALMF1D44CA391227
2,2013 Volkswagen Tiguan 4WD 4dr Auto SE *Ltd Av...,"{'availability': 'https://schema.org/InStock',...",{'name': 'Volkswagen'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",WVGBV7AX6DW549019
3,2008 Audi TT 2dr Roadster Auto 2.0T FrontTrak,"{'availability': 'https://schema.org/InStock',...",{'name': 'Audi'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",TRUMF38J581002613
4,2013 Jeep Wrangler Unlimited 4WD 4dr Rubicon,"{'availability': 'https://schema.org/InStock',...",{'name': 'Jeep'},"{'ratingvalue': '4.4', 'reviewcount': '89'}",1C4HJWFG7DL595392

'Product_destinationbabykids.com_September2020.json.gz'

,name,offers,brand,mpn,gtin13
0,Baby Appleseed Davenport 3 Piece Package,{'itemcondition': 'http://schema.org/NewCondit...,Baby Appleseed,babyappleseed_davenport-3pc,NaN
1,NUNA Pipa Lite Infant Car Seat in Aspen,"{'price': '382.32', 'itemcondition': 'http://s...",Nuna,CF08500ASP,8.719744e+12
2,Pali Napoli Flat Top Crib in Mocacchino,"{'category': 'Napoli', 'itemcondition': 'http:...",Pali,8150-M,NaN
3,Natart Cortina 3 Piece Nursery Set in Grey Chalet,{'itemcondition': 'http://schema.org/NewCondit...,Natart,natart-cortina-3pc-ch,NaN
4,Liz and Roo Buck Woodland 3 Piece Crib Bedding...,{'itemoffered': 'Liz and Roo Buck Woodland 3 P...,Liz & Roo,29444BB3,7.583994e+11

'Product_wire-brush.co.uk_September2020.json.gz'

,name,offers,brand,mpn,weight
0,<!-- 055 -->Cylinder Wire Brush 15mm with Loop,"{'availability': 'http://schema.org/InStock', ...",Lessmann,542307,{'value': '0.000'}
1,<!-- 052 -->Steel Wire Brush 5 Row with Plasti...,"{'availability': 'http://schema.org/InStock', ...",Silverline,456957,{'value': '0.000'}
2,<!-- 015 -->15mm Cotton Mop Brush with Loop,"{'availability': 'http://schema.org/InStock', ...",Anvil,P100015,{'value': '0.000'}
3,<!-- 050 -->Stainless Steel Cylinder Wire Brus...,"{'price': '10.55', 'availability': 'http://sch...",Lessmann,500519,{'value': '0.000'}
4,<!-- 010 -->15mm Hole Cleaning Brass Wire Brush,"{'availability': 'http://schema.org/InStock', ...",Lessmann,560715,{'value': '0.000'}

'Product_katespade.com_September2020.json.gz'

,name,offers,brand,aggregaterating,color
0,Make It Mine Chain Crossbody Strap,"{'pricevaliduntil': '9999-12-31', 'price': '48...",{'name': 'Kate Spade New York'},"{'reviewcount': 'null', 'worstrating': '1', 'b...",rose gold
1,Lagoon Spade Chain Sandals,"{'price': '190.0', 'availability': 'http://sch...",{'name': 'Kate Spade New York'},None,LIGHT TAN
2,Shadow Large Tote,"{'price': '350.0', 'availability': 'http://sch...",{'name': 'Kate Spade New York'},None,OPTIC WHITE
3,Spencer Slim Flap Wallet,"{'price': '145.0', 'availability': 'http://sch...",{'name': 'Kate Spade New York'},None,BLACK
4,Margaux Mini Satchel,"{'pricevaliduntil': '9999-12-31', 'price': '24...",{'name': 'Kate Spade New York'},"{'reviewcount': 'null', 'worstrating': '1', 'b...",black/warm taupe

'Product_slightgift.com_September2020.json.gz'

,name,offers,brand,mpn,gtin
0,Dinosaur series 3D night light led remote cont...,"{'sku': '56489', 'availability': 'https://sche...",{'name': 'Slightgift'},0001B,0001B
1,3D night light Eiffel Tower bedside table lamp...,"{'gtin': '0006W', 'availability': 'https://sch...",{'name': 'Slightgift'},0006W,0006W
2,Musical instrument series 3d night light Color...,"{'availability': 'https://schema.org/InStock',...",{'name': 'Slightgift'},0019B,0019B
3,Christmas series 3D night light LED remote con...,"{'pricevaliduntil': '2020-05-13', 'gtin': '001...",{'name': 'Slightgift'},0012B,0012B
4,Football series night light 3d remote control ...,"{'pricevaliduntil': '2020-05-13', 'gtin': '001...",{'name': 'Slightgift'},0014B,0014B

'Product_whatstove.co.uk_September2020.json.gz'

,name,aggregaterating,review,width,height,depth
0,La Nordica Crystal 50 Insert stove,None,None,500.0,800.0,500.0
1,Chilli Billie,None,None,220.0,500.0,210.0
2,Dovre 700 stove,"{'bestrating': '5', 'name': 'Overall Rating', ...","[{'author': 'Paul Mortimer-lee', 'name': 'Exce...",NaN,NaN,NaN
3,Charnwood LA 45B,"{'bestrating': '5', 'name': 'Overall Rating', ...","[{'author': 'John Redfern', 'name': 'Charnwood...",554.0,619.0,480.0
4,Barbas Cuatro Tunnel stove,"{'bestrating': '5', 'ratingvalue': '3.5', 'nam...","[{'name': 'Stylish and effective...', 'author'...",NaN,NaN,NaN

'Product_bohoshelf.com_September2020.json.gz'

,name,offers,aggregaterating,category,weight,releasedate,additionalproperty,color,width,height,depth
0,European Vintage Tucker Jean Coat,"{'pricecurrency': 'USD', 'price': '74.99', 'av...","{'bestrating': '5', 'ratingcount': '10', 'rati...",Denim Clothing > Boho Clothing > Denim Jackets,None,2019-07-27T13:23:44+00:00,"[{'value': 'Jackets', 'name': 'outerwear-type'...",Light Blue,None,None,None
1,Long Tassel Buddhist Glass Bead Necklace,"{'pricecurrency': 'USD', 'availability': 'http...","{'bestrating': '5', 'reviewcount': '1', 'ratin...",jewelry > Necklaces,"{'value': '0.05', 'unitcode': 'KGM'}",2018-11-04T06:23:46+00:00,"[{'value': 'Men necklace', 'name': 'vintage-ne...",None,"{'value': '5', 'unitcode': 'CMT'}","{'value': '5', 'unitcode': 'CMT'}","{'value': '10', 'unitcode': 'CMT'}"
2,Black Lace Floral Tassel Kimono,"{'pricecurrency': 'USD', 'availability': 'http...",None,Boho Clothing > Kimonos-Cardigan,None,2019-06-09T08:57:35+00:00,"[{'value': 'Casual', 'name': 'style'}, {'value...",Black,None,None,None
3,Handmade Bow Wool Hat For Women - Boho Hat,"{'pricecurrency': 'USD', 'availability': 'http...","{'bestrating': '5', 'ratingcount': '13', 'rati...",Beauty &amp; Fashion > Women's Hats,"{'value': '0.25', 'unitcode': 'KGM'}",2018-11-28T06:17:22+00:00,"[{'value': 'chapeau vintage femme', 'name': 'i...","Black, Light Khaki, purple, Red, royal blue","{'value': '30', 'unitcode': 'CMT'}","{'value': '30', 'unitcode': 'CMT'}","{'value': '30', 'unitcode': 'CMT'}"
4,Sexy Lace Bikini Cover Up Cardigan,"{'price': '32.99', 'availability': 'http://sch...",None,Boho Clothing > Kimonos-Cardigan,None,2019-06-09T08:57:16+00:00,"[{'value': 'Casual', 'name': 'style'}, {'value...",White,None,None,None

'Product_nissanpartsnh.com_September2020.json.gz'

,name,offers,brand,aggregaterating,mpn,identifier
0,Fog Lights,{'url': 'www.nissanpartsnh.com/p/nissan_2021_/...,Nissan,"{'reviewcount': '12', 'itemreviewed': 'Dealer'...",999F1-UZ000,{'value': '999F1-UZ000'}
1,Fog Lights,{'itemcondition': 'http://schema.org/NewCondit...,Nissan,"{'reviewcount': '12', 'itemreviewed': 'Dealer'...",999F1-UZ000,{'value': '999F1-UZ000'}
2,Fog Lights,{'itemcondition': 'http://schema.org/NewCondit...,Nissan,"{'reviewcount': '12', 'itemreviewed': 'Dealer'...",999F1-UZ000,{'value': '999F1-UZ000'}
3,Fog Lights,"{'pricevaliduntil': '10/24/2020 3:57:21 PM', '...",Nissan,"{'reviewcount': '12', 'itemreviewed': 'Dealer'...",999F1-UZ000,{'value': '999F1-UZ000'}
4,Fog Lights,{'itemcondition': 'http://schema.org/NewCondit...,Nissan,"{'reviewcount': '12', 'itemreviewed': 'Dealer'...",999F1-UZ000,{'value': '999F1-UZ000'}

'Product_surfskateoutlet.com_September2020.json.gz'

,name,offers,brand,category,itemcondition
0,Sweatshirt c/Capuz e Zip Skullcandy Shattered,"{'offercount': '3', 'price': '39.9900016784668...",{'name': 'Skullcandy'},MENS,http://schema.org/NewCondition
1,Sweatshirt básica Enjoi Tie Dye,"{'offercount': '1', 'highprice': '29.9', 'pric...",{'name': 'Enjoi'},MENS,http://schema.org/NewCondition
2,Sweatshirt c/Capuz e Zip DC Slauson,"{'price': '37.5', 'offercount': '1', 'pricecur...",{'name': 'DC'},MENS,http://schema.org/NewCondition
3,Boné Homem Dragon Icon Trucker,"{'offercount': '1', 'highprice': '14.99', 'pri...",{'name': 'Dragon'},MENS,http://schema.org/NewCondition
4,Long Sleeve 3/4 Independent Head Line,"{'offercount': '1', 'highprice': '14.99', 'pri...",{'name': 'INDEPENDENT'},MENS,http://schema.org/NewCondition

'Product_specscart.co.uk_September2020.json.gz'

,name,offers,brand,aggregaterating,review,gtin13
0,JONES ST3,"{'availability': 'https://schema.org/SoldOut',...",{'name': 'Tom Archer'},"{'bestrating': '5', 'reviewcount': '121', 'rat...","[{'datepublished': '2020-01-20', 'description'...",689243262191
1,WOODFORD-S2,"{'pricevaliduntil': '2020-12-22', 'price': '69...",{'name': 'Tom Archer'},"{'bestrating': '5', 'reviewcount': '121', 'rat...","[{'name': 'WOODFORD-S2', 'description': 'Recei...",689243263221
2,WARREN 1,"{'availability': 'https://schema.org/InStock',...",{'name': 'Tom Archer'},"{'bestrating': '5', 'reviewcount': '121', 'rat...",[{'description': 'It was very difficult find t...,689243263392
3,SF2837 3,"{'pricevaliduntil': '2020-12-22', 'availabilit...",{'name': 'Salvatore Ferragamo'},"{'bestrating': '5', 'reviewcount': '121', 'rat...","[{'name': 'SF2837 3', 'datepublished': '2020-0...",689243262912
4,OLIVER SA1,"{'availability': 'https://schema.org/InStock',...",{'name': 'Tom Archer'},"{'bestrating': '5', 'reviewcount': '121', 'rat...",[{'description': 'It was very difficult find t...,689243261696

'Product_ochelari.net_September2020.json.gz'

,name,offers,aggregaterating,model,manufacturer
0,Polaroid Black P4139 KIH,"{'price': '199 lei', 'pricecurrency': 'lei'}","{'bestrating': '5', 'ratingvalue': '0', 'revie...",P4139 KIH,Polaroid
1,Ray-Ban Aviator Mirror RB3025 W3277,"{'price': '618 lei', 'pricecurrency': 'lei'}","{'bestrating': '5', 'reviewcount': '2', 'ratin...",RB3025 W3277,Ray-Ban
2,Calvin Klein Pale Yellow CK4185S 250,"{'pricecurrency': 'lei', 'price': '249 lei'}","{'bestrating': '5', 'ratingvalue': '0', 'revie...",CK4185S 250,Calvin Klein
3,Diesel Camouflage DL0135 95C,"{'price': '279 lei', 'pricecurrency': 'lei'}","{'bestrating': '5', 'ratingvalue': '0', 'revie...",DL0135 95C,Diesel
4,Guess Gold & Green GG1121 32F,"{'pricecurrency': 'lei', 'price': '249 lei'}","{'bestrating': '5', 'ratingvalue': '0', 'revie...",GG1121 32F,Guess