In [7]:
import pandas as pd
from sklearn.metrics import f1_score
import os

In [9]:
#get path informationb
product_path = '../../../../src/data/product'
train_test_all_filtered_path = os.path.join(product_path, 'train_test_split/output_unfiltered_tables/large/after_manual_checking/baselines')

In [17]:
res = pd.read_csv('TinyBert_Results/predict_results_None.txt', sep='\t')
res.drop('index', axis=1, inplace=True)

In [18]:
res

       prediction
0             442
1             819
2             943
3             727
4              31
...           ...
10650         714
10651         580
10652         815
10653         170
10654         372

[10655 rows x 1 columns]

In [11]:
real = pd.read_csv(os.path.join(train_test_all_filtered_path,'df_test'))

In [12]:
real

,Unnamed: 0,Unnamed: 0.1,text,label
0,0,0,WD 2TB Elements Portable External Hard Drive -...,442
1,1,1,GoPro Head Strap + Quick Clip nan,591
2,2,2,GoPro 3 way grip Arm GoPro nan,245
3,3,3,Akérat Smoothing Exfoliating Cream <p>Targeted...,692
4,4,4,Moisturizing Self-Tanning Silky Gel <p>Non-gre...,223
...,...,...,...,...
10650,10650,10650,Apple Lightning to USB-C Cable (2m) Apple Ligh...,70
10651,10651,10651,Apple Lightning to VGA adapter Apple Lightning...,184
10652,10652,10652,Apple Lightning to Digital AV adapter Apple Li...,45
10653,10653,10653,Rolex Watches Oyster Perpetual GMT-Master II 1...,565
10654,10654,10654,Pendrive de 128 GB Kingston DTIG4 Memoria Flas...,54

In [19]:
#tinybert
f1_score(res.prediction, real.label, average='micro')

0.3356170811825434