In [1]:
import pandas as pd
import json 
import gzip
import os

In [2]:
notebook_path = '../notebooks'

In [13]:
clothes_final_entities_df = pd.read_csv(os.path.join(notebook_path, 'electronics_clusters_15_tables.csv'), index_col=None)

In [14]:
clothes_final_entities_df

     Unnamed: 0  cluster_id  Amount
0             7        1040      21
1            26        6076      19
2            27        6443      25
3            29        6505      16
4            30        6690      20
..          ...         ...     ...
411      108804    76869317      60
412      110646    78260404      80
413      112351    79512161      16
414      112994    80097153      60
415      112995    80097161      37

[416 rows x 3 columns]

In [15]:
clothes_final_entities_list = clothes_final_entities_df['cluster_id']

In [16]:
clothes_final_entities_list

0          1040
1          6076
2          6443
3          6505
4          6690
         ...
411    76869317
412    78260404
413    79512161
414    80097153
415    80097161
Name: cluster_id, Length: 416, dtype: int64