In [1]:
import pandas as pd
import numpy as np
import json
import gzip
import os
from os import listdir

In [6]:
#tables = pd.read_csv('../../src/data/data/CSV_files/detailed_columnStatistics_all_files.csv')
tables = tables.rename(columns={'sum_NA_tables':'sum_NA_sel_col'})
tables

,Unnamed: 0,Class,columns,filename,num_columns,num_columns_selected,num_rows,num_NAs,percentage_col_NA,sum_NA_sel_col,percentage_table_NA
0,0,Book,name,Book_foldvaribooks.com_September2020.json.gz,8.0,5.0,274.0,1,0.003650,336.0,0.245255
1,0,Book,author,Book_foldvaribooks.com_September2020.json.gz,8.0,5.0,274.0,40,0.145985,336.0,0.245255
2,0,Book,publisher,Book_foldvaribooks.com_September2020.json.gz,8.0,5.0,274.0,157,0.572993,336.0,0.245255
3,0,Book,offers,Book_foldvaribooks.com_September2020.json.gz,8.0,5.0,274.0,0,0.000000,336.0,0.245255
4,0,Book,bookedition,Book_foldvaribooks.com_September2020.json.gz,8.0,5.0,274.0,138,0.503650,336.0,0.245255
...,...,...,...,...,...,...,...,...,...,...,...
459242,208,TVEpisode,name,TVEpisode_foodnetwork.com_September2020.json.gz,7.0,3.0,431.0,0,0.000000,114.0,0.088167
459243,208,TVEpisode,episodenumber,TVEpisode_foodnetwork.com_September2020.json.gz,7.0,3.0,431.0,0,0.000000,114.0,0.088167
459244,208,TVEpisode,partofseries,TVEpisode_foodnetwork.com_September2020.json.gz,7.0,3.0,431.0,114,0.264501,114.0,0.088167
459245,209,TVEpisode,name,TVEpisode_vavivov.com_September2020.json.gz,9.0,2.0,63.0,0,0.000000,0.0,0.000000
459246,209,TVEpisode,partofseries,TVEpisode_vavivov.com_September2020.json.gz,9.0,2.0,63.0,0,0.000000,0.0,0.000000

In [31]:
gruppe = tables.groupby(['Class','filename'])['columns'].transform(lambda x : ','.join(x))#.agg({'num_rows':'mean','num_columns':'mean', 'num_columns_selected' :'mean', 'num_NAs':'sum', 'percentage_col_NA':'mean', 'percentage_table_NA':'mean'})
gruppe

0         name,author,publisher,offers,bookedition
1         name,author,publisher,offers,bookedition
2         name,author,publisher,offers,bookedition
3         name,author,publisher,offers,bookedition
4         name,author,publisher,offers,bookedition
                            ...
459242             name,episodenumber,partofseries
459243             name,episodenumber,partofseries
459244             name,episodenumber,partofseries
459245                           name,partofseries
459246                           name,partofseries
Name: columns, Length: 459247, dtype: object

In [17]:
grouped_files.to_csv('../../src/data/data/CSV_files/detailed_table_statistics.csv')

In [18]:
grouped_files.describe()

,num_rows,num_columns,num_columns_selected,num_NAs,percentage_col_NA,percentage_table_NA
count,79318.000000,79318.000000,79318.000000,79318.000000,79318.000000,79318.000000
mean,296.400086,9.511158,5.789947,173.963047,0.079808,0.079808
std,1344.816346,3.066168,2.621034,954.541809,0.101381,0.101381
min,3.000000,5.000000,2.000000,0.000000,0.000000,0.000000
25%,27.000000,7.000000,5.000000,0.000000,0.000000,0.000000
50%,58.000000,9.000000,5.000000,10.000000,0.038095,0.038095
75%,195.000000,11.000000,6.000000,69.000000,0.128205,0.128205
max,222817.000000,35.000000,24.000000,47753.000000,0.818182,0.818182

In [20]:
relevant = grouped_files[(grouped_files['num_rows']>10) & (grouped_files['percentage_table_NA']<0.20)]
relevant.reset_index()

,Class,filename,num_rows,num_columns,num_columns_selected,num_NAs,percentage_col_NA,percentage_table_NA
0,Book,Book_12min.com_September2020.json.gz,366.0,9.0,5.0,166,0.090710,0.090710
1,Book,Book_19shuwu.com_September2020.json.gz,250.0,8.0,5.0,0,0.000000,0.000000
2,Book,Book_1carpetcleaning.co.uk_September2020.json.gz,1004.0,12.0,9.0,0,0.000000,0.000000
3,Book,Book_2014brazil.co.uk_September2020.json.gz,387.0,11.0,9.0,0,0.000000,0.000000
4,Book,Book_24symbols.com_September2020.json.gz,5171.0,8.0,5.0,17,0.000658,0.000658
...,...,...,...,...,...,...,...,...
62439,TVEpisode,TVEpisode_yara-online.org_September2020.json.gz,40.0,9.0,2.0,0,0.000000,0.000000
62440,TVEpisode,TVEpisode_yesmoviess.com_September2020.json.gz,37.0,9.0,2.0,0,0.000000,0.000000
62441,TVEpisode,TVEpisode_zazangels.com_September2020.json.gz,38.0,8.0,2.0,0,0.000000,0.000000
62442,TVEpisode,TVEpisode_zebrahead.org_September2020.json.gz,80.0,7.0,2.0,0,0.000000,0.000000
62443,TVEpisode,TVEpisode_zoids-col.net_September2020.json.gz,28.0,8.0,2.0,0,0.000000,0.000000