In [1]:
import pandas as pd

In [4]:
res = pd.read_csv('../../src/data/schemafiltereddata/predict_results_None.txt', sep='\t')

In [6]:
res.drop('index', axis=1, inplace=True)

In [10]:
res

       prediction
0             130
1              68
2             115
3             153
4             134
...           ...
49599         147
49600         186
49601         108
49602          85
49603         145

[49604 rows x 1 columns]

In [8]:
real = pd.read_csv('../../src/data/schemafiltereddata/TrainTestTables/test_tables_9000_prepped.csv')

In [9]:
real

       Unnamed: 0                                               text  label
0               0  Comedy Improv at Arts Garage 2020-12-10 Shows ...    130
1               1  2020-12-10T21 30 00-05 00 2020-12-10T21 30 00-...     68
2               2   name Arts Garage name Bob Carter 8217 s Actor...    115
3               3   name Mod 27 Improv telephone 561-223-1651 ema...    153
4               4  My Front Door Lord Have Mercy Sold Out Wedding...    134
...           ...                                                ...    ...
49599       49599   url https eutrade-shop com epages f7e4b224-a2...    147
49600       49600  4 5 5 3 5 5 5 4 3 5 3 5 5 5 3 5 1 5 5 4 3 3 5 ...     38
49601       49601  http schema org NewCondition http schema org N...    108
49602       49602  4313042590504 0 4313042595028 0 4313042595066 ...     85
49603       49603   price 2 20 pricecurrency EUR price 6 60 price...    106

[49604 rows x 3 columns]

In [14]:
from sklearn.metrics import f1_score

In [15]:
f1_score(res.prediction, real.label, average='micro')

0.8030199177485686