In [118]:
import pandas as pd
import numpy as np
import json
import gzip
import os
import concurrent.futures
import glob
import io
import seaborn as sns
import multiprocessing
from tqdm import tqdm
import mmap
from multiprocessing import Pool
from os import listdir

In [119]:
path = '/work-ceph/bizer-tp2021/data_integration_using_deep_learning/src/data/data/CSV_files'

In [120]:
files = pd.read_csv(path + '/all_files_cleaned.csv')
files = files.drop(columns={'Unnamed: 0'})
files

,schema_type,column_name,data_type,percentage,filename,num_tables,prob_matches
0,name/ Product_stats.csv,name,string,0.994361,Product_stats.csv,432728.0,product_name
1,offers/ Product_stats.csv,offers,string,0.964249,Product_stats.csv,419624.0,offer
2,brand/ Product_stats.csv,brand,string,0.403728,Product_stats.csv,175695.0,product_name
3,headline/ CreativeWork_stats.csv,headline,string,0.939871,CreativeWork_stats.csv,76451.0,headline
4,author/ CreativeWork_stats.csv,author,string,0.776499,CreativeWork_stats.csv,63162.0,person_name
...,...,...,...,...,...,...,...
202,numtracks/ MusicAlbum_stats.csv,numtracks,int,0.415808,MusicAlbum_stats.csv,121.0,number
203,menu/ Restaurant_stats.csv,menu,string,0.104581,Restaurant_stats.csv,121.0,text_description
204,contactpoint/ Person_stats.csv,contactpoint,string,0.009353,Person_stats.csv,120.0,text_description
205,email/ Hotel_stats.csv,email,string,0.107664,Hotel_stats.csv,118.0,email
206,episodenumber/ TVEpisode_stats.csv,episodenumber,int,0.475610,TVEpisode_stats.csv,117.0,number

In [121]:
columns_sorted = files.groupby('filename')['column_name'].apply(list).reset_index(name='listofcolumns')
columns_sorted.filename = columns_sorted.filename.str.split('_', expand = True)
columns_sorted.index = columns_sorted['filename']
columns_sorted

,filename,listofcolumns
filename,,
Book,Book,"[name, author, isbn, publisher, offers, datepu..."
CreativeWork,CreativeWork,"[headline, author, datepublished, datemodified..."
Event,Event,"[name, enddate, location, performer, organizer..."
Hotel,Hotel,"[name, address, telephone, pricerange, geo, ag..."
LocalBusiness,LocalBusiness,"[name, address, telephone, geo, pricerange, ag..."
MusicAlbum,MusicAlbum,"[name, byartist, track, numtracks]"
MusicRecording,MusicRecording,"[name, duration, byartist, inalbum, datepublis..."
Person,Person,"[mainentityofpage, jobtitle, birthdate, givenn..."
Place,Place,"[name, geo, telephone, sameas, openinghoursspe..."
Product,Product,"[name, offers, brand, aggregaterating, mpn, ca..."
Recipe,Recipe,"[name, recipeinstructions, author, recipeyield..."
Restaurant,Restaurant,"[name, address, telephone, servescuisine, geo,..."
TVEpisode,TVEpisode,"[name, partofseries, episodenumber]"

In [ ]:
inputdir = '../../src/data/schemafiltereddata/Book/'
files = [file for file in os.listdir(inputdir) if file.endswith('.json.gz')]
books = pd.DataFrame ()
setcol = set(columns_sorted.loc['Book']['listofcolumns'])
for file in files:
    df = pd.read_json(os.path.join(inputdir+file), compression = 'gzip', lines=True)
    numrows = df.shape[0]
    numcolumns = df.shape[1]
    numselcol = df[df.columns[df.columns.isin(setcol)]].shape[1]
    list_numNAs = list(df[df.columns[df.columns.isin(setcol)]].isnull().sum()
    list_col = list(df.columns[df.columns.isin(setcol)])
    books = books.append({'Class':'Book','filename':file,'num_rows':numrows, 'num_columns': numcolumns, 'num_columns_selected':numselcol, 'numNAs': list_numNAs, 'columns':list_col}, ignore_index=True)
books = books.explode(['columns', 'numNAs'])
#books = books.explode('numNAs')
#books = books[books['columns'].isin(setcol)]

display(books)

In [ ]:
books_columns = books['columns'].explode('columns')
books_nas = books['numNAs'].explode('numNAs')

print(books_columns)
print(books_nas)

In [ ]:
together = pd.concat([books_columns, books_nas], axis=1)
together

In [ ]:
#inputdir = '../../src/data/schemafiltereddata/CreativeWork/'
files = [file for file in os.listdir(inputdir) if file.endswith('.json.gz')]
cw = pd.DataFrame ()
setcol = set(columns_sorted.loc['CreativeWork']['listofcolumns'])
for file in files:
    df = pd.read_json(os.path.join(inputdir+file), compression = 'gzip', lines=True)
    numrows = df.shape[0]
    numcolumns = df.shape[1]
    numselcol = df[df.columns[df.columns.isin(setcol)]].shape[1]
    list_numNAs = df[df.columns[df.columns.isin(setcol)]].isnull().sum().sum()
    list_col = list(df.columns)
    cw = cw.append({'Class':'CreativeWork','filename':file,'num_rows':numrows, 'num_columns': numcolumns, 'num_columns_selected':numselcol, 'numNAs': list_numNAs, 'columns':list_col}, ignore_index=True)
cw = cw.explode('columns')
#books = books.explode('numNAs')
cw = cw[cw['columns'].isin(setcol)]

display(cw)

In [ ]:
print(cw[cw['num_rows']<=10])

In [123]:
inputdir = '../../src/data/schemafiltereddata/Book/'
files = [file for file in os.listdir(inputdir) if file.endswith('.json.gz')]
books = pd.DataFrame ()
setcol = set(columns_sorted.loc['Book']['listofcolumns'])
for file in files:
    df = pd.read_json(os.path.join(inputdir+file), compression = 'gzip', lines=True)
    numrows = df.shape[0]
    numcolumns = df.shape[1]
    numselcol = df[df.columns[df.columns.isin(setcol)]].shape[1]
    numNAs = list(df[df.columns[df.columns.isin(setcol)]].isnull().sum())
    list_col = list(df.columns[df.columns.isin(setcol)])
    books = books.append({'Class':'Book','filename':file,'num_rows':numrows, 'num_columns': numcolumns, 'num_columns_selected':numselcol, 'numNAs': numNAs, 'columns':list_col}, ignore_index=True)
#books = books.explode('columns')
#books = books[books['columns'].isin(setcol)]
display(books)

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
973,Book,"[name, publisher, isbn, bookformat, datepublis...",Book_benjamins.com_September2020.json.gz,"[0, 7, 756, 755, 62, 775, 8, 0]",14.0,8.0,1795.0
974,Book,"[name, author, publisher, isbn, datepublished,...",Book_nollegiu.com_September2020.json.gz,"[0, 77, 0, 36, 1465, 0, 561]",10.0,7.0,3175.0
975,Book,"[name, author, publisher, isbn, datepublished,...",Book_nosegraze.com_September2020.json.gz,"[0, 0, 0, 109, 0, 1, 1]",9.0,7.0,153.0
976,Book,"[name, author, publisher, isbn, datepublished,...",Book_hachettebooks.com_September2020.json.gz,"[0, 0, 0, 0, 0, 45, 1]",12.0,7.0,583.0
977,Book,"[name, author, publisher, isbn, bookformat, da...",Book_cogito-shop.com_September2020.json.gz,"[0, 637, 145, 385, 0, 135, 0, 316]",11.0,8.0,3498.0

In [ ]:
allRows_selCol = books.num_columns*books.num_rows
allRows_selCol
pOfAll = allRows_selCol/numNAs
pOfAll
#books = books.append({'percentage_of_all':})

### Create Overview of Columns, Rows etc. for all categories

In [143]:
overview = pd.DataFrame()
for index in columns_sorted.filename:
    allTables = pd.DataFrame()
    print(index)
    inputdir = '../../src/data/schemafiltereddata/'+index+'/'
    files = [file for file in os.listdir(inputdir) if file.endswith('.json.gz')]
    #setcol = set(columns_sorted.loc[index]['listofcolumns'])
    for file in files:
        df = pd.read_json(os.path.join(inputdir+file), compression = 'gzip', lines=True)
        setcol = set(columns_sorted.loc[index]['listofcolumns'])
        numrows = df.shape[0]
        numcolumns = df.shape[1]
        numselcol = df[df.columns[df.columns.isin(setcol)]].shape[1]
        numNAs = list(df[df.columns[df.columns.isin(setcol)]].isnull().sum())
        list_col = list(df.columns[df.columns.isin(setcol)])
        allTables = allTables.append({'Class':index,'filename':file,'num_rows':numrows, 'num_columns': numcolumns, 'num_columns_selected':numselcol, 'numNAs': numNAs, 'columns':list_col}, ignore_index=True)
    overview = overview.append(allTables)
    display(overview)

Book

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
973,Book,"[name, publisher, isbn, bookformat, datepublis...",Book_benjamins.com_September2020.json.gz,"[0, 7, 756, 755, 62, 775, 8, 0]",14.0,8.0,1795.0
974,Book,"[name, author, publisher, isbn, datepublished,...",Book_nollegiu.com_September2020.json.gz,"[0, 77, 0, 36, 1465, 0, 561]",10.0,7.0,3175.0
975,Book,"[name, author, publisher, isbn, datepublished,...",Book_nosegraze.com_September2020.json.gz,"[0, 0, 0, 109, 0, 1, 1]",9.0,7.0,153.0
976,Book,"[name, author, publisher, isbn, datepublished,...",Book_hachettebooks.com_September2020.json.gz,"[0, 0, 0, 0, 0, 45, 1]",12.0,7.0,583.0
977,Book,"[name, author, publisher, isbn, bookformat, da...",Book_cogito-shop.com_September2020.json.gz,"[0, 637, 145, 385, 0, 135, 0, 316]",11.0,8.0,3498.0

CreativeWork

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
5513,CreativeWork,"[headline, datepublished, datemodified, commen...",CreativeWork_kellyclaytonliving.com_September2...,"[0, 0, 0, 0]",6.0,4.0,15.0
5514,CreativeWork,"[headline, author, datemodified, datecreated, ...",CreativeWork_z125owners.com_September2020.json.gz,"[0, 0, 0, 0, 0]",8.0,5.0,108.0
5515,CreativeWork,"[headline, datepublished, datemodified, commen...",CreativeWork_cottages.com_September2020.json.gz,"[0, 0, 0, 0]",6.0,4.0,15.0
5516,CreativeWork,"[headline, author, datepublished, datemodified...",CreativeWork_preservationbuffaloniagara.org_Se...,"[1, 6, 0, 0, 1, 6, 1]",11.0,7.0,168.0
5517,CreativeWork,"[author, datepublished, datemodified, publishe...",CreativeWork_manolisheliotis.co.uk_September20...,"[0, 0, 0, 0, 0]",8.0,5.0,14.0

Event

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
6935,Event,"[name, enddate, location, performer, organizer]",Event_bellaunica.com_September2020.json.gz,"[0, 0, 5, 0, 0]",9.0,5.0,21.0
6936,Event,"[name, enddate, location, eventstatus, eventat...",Event_704area.com_September2020.json.gz,"[0, 0, 0, 5, 5]",9.0,5.0,22.0
6937,Event,"[name, enddate, location, performer, organizer]",Event_katherinebird.com_September2020.json.gz,"[0, 0, 0, 0, 0]",10.0,5.0,50.0
6938,Event,"[name, enddate, location, performer, organizer]",Event_cantonpubliclibrary.org_September2020.js...,"[0, 0, 2, 0, 10]",9.0,5.0,25.0
6939,Event,"[name, enddate, location, performer, organizer]",Event_kivasports.net_September2020.json.gz,"[0, 0, 1, 0, 6]",10.0,5.0,22.0

Hotel

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
996,Hotel,"[name, address, telephone, aggregaterating, st...",Hotel_onthebeach.co.uk_September2020.json.gz,"[0, 145, 1094, 342, 0]",7.0,5.0,5143.0
997,Hotel,"[name, address, telephone, geo, email]",Hotel_khil.com_September2020.json.gz,"[0, 0, 0, 0, 0]",8.0,5.0,36.0
998,Hotel,"[name, aggregaterating, geo, starrating]",Hotel_kuoni.co.uk_September2020.json.gz,"[0, 0, 0, 0]",9.0,4.0,845.0
999,Hotel,"[name, address, telephone, aggregaterating, em...",Hotel_halalbooking.com_September2020.json.gz,"[0, 7, 7, 0, 7]",12.0,5.0,148.0
1000,Hotel,"[name, address, telephone, aggregaterating, pr...",Hotel_timisoara-cazare.com_September2020.json.gz,"[0, 0, 76, 0, 0, 65, 95]",11.0,7.0,164.0

LocalBusiness

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
4247,LocalBusiness,"[name, address, telephone, aggregaterating, em...",LocalBusiness_smallbizdirectori.com_September2...,"[5, 11, 8, 0, 53, 0]",9.0,6.0,97.0
4248,LocalBusiness,"[name, address, telephone, aggregaterating, ge...",LocalBusiness_allchecked.co.uk_September2020.j...,"[0, 0, 5, 2, 0, 0, 2]",9.0,7.0,262.0
4249,LocalBusiness,"[name, address, telephone, email, geo, opening...",LocalBusiness_mytownishere.com_September2020.j...,"[0, 0, 7, 8, 4, 43, 0, 0]",14.0,8.0,157.0
4250,LocalBusiness,"[name, address, telephone, openinghours, hasmap]",LocalBusiness_snohomishyellowpages.com_Septemb...,"[0, 0, 201, 169, 169]",9.0,5.0,578.0
4251,LocalBusiness,"[name, address, telephone, aggregaterating, ge...",LocalBusiness_bozzuto.com_September2020.json.gz,"[0, 0, 0, 25, 0, 0, 0]",12.0,7.0,217.0

MusicAlbum

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
243,MusicAlbum,"[name, byartist]",MusicAlbum_klausmuellermusic.com_September2020...,"[0, 4]",7.0,2.0,42.0
244,MusicAlbum,"[name, byartist]",MusicAlbum_earmilk.com_September2020.json.gz,"[0, 0]",12.0,2.0,91.0
245,MusicAlbum,"[name, numtracks, track, byartist]",MusicAlbum_elliottmurphy.com_September2020.jso...,"[0, 0, 0, 0]",8.0,4.0,35.0
246,MusicAlbum,"[name, track, byartist]",MusicAlbum_partoch.com_September2020.json.gz,"[0, 23, 0]",6.0,3.0,59.0
247,MusicAlbum,"[name, numtracks, track]",MusicAlbum_elviscarden.com_September2020.json.gz,"[0, 0, 0]",5.0,3.0,21.0

MusicRecording

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
12656,MusicRecording,"[name, duration, byartist, inalbum]",MusicRecording_indigenousrocks.com_September20...,"[0, 0, 1, 0]",6.0,4.0,5.0
12657,MusicRecording,"[name, duration, byartist, inalbum]",MusicRecording_collinjohnsonmusic.com_Septembe...,"[0, 0, 8, 2]",6.0,4.0,15.0
12658,MusicRecording,"[name, duration, byartist]",MusicRecording_shipyardwreckmusic.com_Septembe...,"[0, 0, 1]",5.0,3.0,9.0
12659,MusicRecording,"[name, duration, inalbum]",MusicRecording_johnnychimes.com_September2020....,"[0, 0, 0]",5.0,3.0,44.0
12660,MusicRecording,"[name, duration, byartist, inalbum]",MusicRecording_lynettediaz.com_September2020.j...,"[0, 0, 3, 0]",6.0,4.0,7.0

Person

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
4431,Person,"[jobtitle, affiliation]",Person_inkmt.com_September2020.json.gz,"[0, 0]",5.0,2.0,21.0
4432,Person,"[givenname, familyname, birthdate, additionaln...",Person_almonfuneralhome.com_September2020.json.gz,"[0, 0, 2, 20, 0]",8.0,5.0,104.0
4433,Person,"[jobtitle, telephone, email, address, sameas, ...",Person_checpos.com_September2020.json.gz,"[0, 0, 0, 0, 2, 0, 0, 0, 0, 0]",15.0,10.0,201.0
4434,Person,"[jobtitle, address, faxnumber]",Person_altschools.net_September2020.json.gz,"[0, 0, 0]",6.0,3.0,34.0
4435,Person,"[telephone, givenname, familyname]",Person_mastersbooking.com_September2020.json.gz,"[38, 0, 0]",6.0,3.0,91.0

Place

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
1300,Place,"[telephone, geo, openinghoursspecification]",Place_hsrwheel.com_September2020.json.gz,"[0, 19, 0]",6.0,3.0,27.0
1301,Place,"[name, telephone, geo]",Place_visithoustontexas.com_September2020.json.gz,"[0, 114, 0]",7.0,3.0,156.0
1302,Place,"[name, telephone, geo]",Place_downtownmuskegon.org_September2020.json.gz,"[0, 23, 36]",6.0,3.0,59.0
1303,Place,"[name, telephone, geo, sameas]",Place_texasmonthly.com_September2020.json.gz,"[0, 185, 69, 125]",7.0,4.0,258.0
1304,Place,"[name, telephone, geo, openinghoursspecification]",Place_stevenspointjournal.com_September2020.js...,"[0, 0, 0, 31]",9.0,4.0,61.0

Product

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
33198,Product,"[name, offers, brand, aggregaterating, mpn]",Product_thebestworkgloves.com_September2020.js...,"[0, 0, 92, 0, 0]",9.0,5.0,740.0
33199,Product,"[name, offers, brand, aggregaterating, mpn]",Product_kidsreadmore.com_September2020.json.gz,"[0, 0, 0, 0, 0]",9.0,5.0,27.0
33200,Product,"[name, offers, brand, mpn, manufacturer]",Product_artisantg.com_September2020.json.gz,"[0, 0, 0, 0, 0]",8.0,5.0,1133.0
33201,Product,"[name, offers, brand, category, itemcondition,...",Product_jvl-europe.com_September2020.json.gz,"[0, 0, 28, 0, 0, 28, 3]",11.0,7.0,63.0
33202,Product,"[name, offers, brand, category, itemcondition]",Product_cubuffs.com_September2020.json.gz,"[0, 0, 258, 621, 0]",10.0,5.0,1462.0

Recipe

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
7827,Recipe,"[name, recipeinstructions, author, recipeingre...",Recipe_cookingatclarktowers.com_September2020....,"[0, 0, 0, 0, 25, 0, 28, 30, 28]",12.0,9.0,41.0
7828,Recipe,"[name, recipeinstructions, author, recipeingre...",Recipe_mjandhungryman.com_September2020.json.gz,"[0, 0, 0, 0, 13, 0, 10, 13, 13, 16, 19, 19, 22...",19.0,16.0,42.0
7829,Recipe,"[name, recipeinstructions, recipeingredient, p...",Recipe_chefjanapinheiro.com_September2020.json.gz,"[0, 1, 0, 0, 0, 0, 11, 4, 15]",11.0,9.0,27.0
7830,Recipe,"[name, recipeinstructions, author, recipeingre...",Recipe_madcreationshub.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0, 0, 4, 1, 0, 0, 3, 2, 0, 0, 0]",19.0,16.0,57.0
7831,Recipe,"[name, author, recipeingredient, datepublished...",Recipe_lesucresale-doumsouhaib.com_September20...,"[0, 59, 102, 0, 1, 2, 3, 15]",11.0,8.0,203.0

Restaurant

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
729,Restaurant,"[name, address, telephone, geo, servescuisine,...",Restaurant_sakura-teppan-yaki.com_September202...,"[0, 0, 0, 0, 0, 0, 0, 20, 0, 0]",13.0,10.0,28.0
730,Restaurant,"[name, address, telephone, servescuisine, aggr...",Restaurant_zabihah.com_September2020.json.gz,"[0, 0, 152, 95, 1151, 0, 0]",9.0,7.0,2528.0
731,Restaurant,"[name, address, telephone, geo, openinghourssp...",Restaurant_newks.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",13.0,6.0,46.0
732,Restaurant,"[name, address, telephone, geo, servescuisine,...",Restaurant_le-sarrail.com_September2020.json.gz,"[0, 0, 0, 0, 3, 19, 0, 0, 0, 0]",13.0,10.0,28.0
733,Restaurant,"[name, address, geo, servescuisine, aggregater...",Restaurant_aucklandnz.com_September2020.json.gz,"[0, 0, 0, 0, 0, 2, 0]",13.0,7.0,84.0

TVEpisode

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,"[name, author, publisher, offers, bookedition]",Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
1,Book,"[name, author, publisher, isbn, datepublished,...",Book_virago.co.uk_September2020.json.gz,"[0, 2, 0, 0, 0, 1]",11.0,6.0,398.0
2,Book,"[name, author, publisher, offers, bookedition]",Book_borgantiquarian.com_September2020.json.gz,"[0, 0, 157, 0, 159]",8.0,5.0,248.0
3,Book,"[name, author, publisher, isbn, datepublished]",Book_downpour.com_September2020.json.gz,"[0, 13, 0, 7323, 22]",8.0,5.0,12194.0
4,Book,"[name, author, publisher, isbn, datepublished,...",Book_marasworld.com_September2020.json.gz,"[0, 0, 0, 0, 0, 0]",8.0,6.0,26.0
...,...,...,...,...,...,...,...
205,TVEpisode,"[name, episodenumber, partofseries]",TVEpisode_tvbuzer.com_September2020.json.gz,"[1, 27, 251]",9.0,3.0,1768.0
206,TVEpisode,"[name, episodenumber, partofseries]",TVEpisode_farsiland.com_September2020.json.gz,"[0, 0, 0]",13.0,3.0,53.0
207,TVEpisode,"[name, episodenumber]",TVEpisode_seriestowatch.com_September2020.json.gz,"[0, 0]",6.0,2.0,953.0
208,TVEpisode,"[name, episodenumber, partofseries]",TVEpisode_foodnetwork.com_September2020.json.gz,"[0, 0, 114]",7.0,3.0,431.0
209,TVEpisode,"[name, partofseries]",TVEpisode_vavivov.com_September2020.json.gz,"[0, 0]",9.0,2.0,63.0

In [157]:
overview_nas = pd.DataFrame()
nas = overview.filter(['numNAs'], axis=1)
#overview_nas = overview_nas.append[{'individual_NAs':nas}]
#overview_nas
nas = nas.explode('numNAs').rename(columns={'numNAs':'individual_NAs'})
nas

    individual_NAs
0                1
0               40
0              157
0                0
0              138
..             ...
208              0
208              0
208            114
209              0
209              0

[459247 rows x 1 columns]

In [156]:
overview_detailed = overview.explode('columns')
overview_detailed

,Class,columns,filename,numNAs,num_columns,num_columns_selected,num_rows
0,Book,name,Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
0,Book,author,Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
0,Book,publisher,Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
0,Book,offers,Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
0,Book,bookedition,Book_foldvaribooks.com_September2020.json.gz,"[1, 40, 157, 0, 138]",8.0,5.0,274.0
...,...,...,...,...,...,...,...
208,TVEpisode,name,TVEpisode_foodnetwork.com_September2020.json.gz,"[0, 0, 114]",7.0,3.0,431.0
208,TVEpisode,episodenumber,TVEpisode_foodnetwork.com_September2020.json.gz,"[0, 0, 114]",7.0,3.0,431.0
208,TVEpisode,partofseries,TVEpisode_foodnetwork.com_September2020.json.gz,"[0, 0, 114]",7.0,3.0,431.0
209,TVEpisode,name,TVEpisode_vavivov.com_September2020.json.gz,"[0, 0]",9.0,2.0,63.0
209,TVEpisode,partofseries,TVEpisode_vavivov.com_September2020.json.gz,"[0, 0]",9.0,2.0,63.0

In [ ]:
overview_detailed.

In [ ]:
overview_2 = pd.DataFrame()
for index in columns_sorted.filename:
    allTables_1 = pd.DataFrame()
    #print(index)
    print(allTables_1)
    #setcol = set(columns_sorted.loc[index]['listofcolumns'])
    inputdir = '../../src/data/schemafiltereddata/'+index+'/'
    files = [file for file in os.listdir(inputdir) if file.endswith('.json.gz')]
    for file in files:
        df = pd.read_json(os.path.join(inputdir, '{}'.format(file)), compression='gzip', lines=True)
        setcol = set(columns_sorted.loc[index]['listofcolumns'])
        numrows= df.shape[0] #count rows in table
        numcolumns = df.shape[1] #count columns in table
        numselcol = df[df.columns[df.columns.isin(setcol)]].shape[1] #count columns that we selected in the table
        numNAs = list(df[df.columns[df.columns.isin(setcol)]].isnull().sum()) #number of NAs for selected columns
        list_col = list(df.columns[df.columns.isin(setcol)])
        allTables_1 = allTables_1.append({'Class':index,'filename':file,'num_rows':numrows, 'num_columns': numcolumns, 'num_columns_selected':numselcol, 'numNAs': list_numNAs, 'columns':list_col}, ignore_index=True)
    #liste = set(columns_sorted.loc[index]['listofcolumns'])
    #allTables = allTables.explode('columns')
    #allTables = allTables[allTables['columns'].isin(setcol)]
    overview_2 = overview_2.append(allTables_1)
    display(overview_2)

In [ ]:
overview.to_csv('../../src/data/data/CSV_files/col_row_statistics_all_files.csv')

In [ ]:
overview_col = overview['columns'].explode('columns')
overview_col = overview_col[overview_col['columns'].isin(setcol)]
overview_col

In [ ]:
all_test = allTables['numNAs']
all_test

In [ ]:
overview_nas['Individual_numNAs'] = overview['numNAs'].explode('numNAs')
overview_nas

In [ ]:
overview_detailed = overview.explode('columns').reset_index()
overview_detailed

In [ ]:
overview.head(980)

In [ ]:
#function to count rows and move tables that have less than 10 rows
def count_move_small_tables(table):
    df = pd.read_json(os.path.join(inputdir+table), compression='gzip', lines=True)
    if len(df)<=10:
        df.to_json(os.path.join(outputdir+table), orient = 'records', compression = 'gzip', lines = True)
        #os.remove(os.path.join(output, '{}'.format(file)))
        print(len(df))
    elif df[df[col for col in setcol].isna()]:
        
        #df.to_json(os.path.join(outputdir+table), orient = 'records', compression = 'gzip', lines = True)
        #os.remove(os.path.join(output, '{}'.format(file)))
        return
    else:
        row_df = pd.DataFrame ()
        row_df = row_df.append({'file': table, 'length': len(df)}, ignore_index=True)
    print(table, len(files))
    print(row_df)
    #print(row_df)

In [ ]:
#files = [file for file in os.listdir(inputdir) if file.endswith('.json.gz')]
#run function for all classes & tables with multiprocessing
#row_df = pd.DataFrame ()
if __name__ == '__main__':
    for index in columns_sorted.filename:
        print(index)
        setcol = set(columns_sorted.loc[index]['listofcolumns'])
        print(setcol)
        inputdir = '../../src/data/schemafiltereddata/'+index+'/'
        outputdir = '../../src/data/schemafiltereddata/'+index+'/under_10_rows_and_NAs/'
        if not os.path.exists(outputdir):
            os.makedirs(outputdir)
        p = Pool(100)
        for _ in tqdm(p.imap_unordered(count_move_small_tables, [file for file in os.listdir(inputdir) if file.endswith('.json.gz')]), total=len([file for file in os.listdir(inputdir) if file.endswith('.json.gz')])):
            pass
        p.map(count_move_small_tables, [file for file in os.listdir(inputdir) if file.endswith('.json.gz')])
        p.close()
        #print(len([file for file in os.listdir(outputdir) if file.endswith('.json.gz')]))
        #new_df = pd.DataFrame ()
        #new_df = new_df.append({'file': row_df['filename'.groupby(index))], 'mean_length': row_df.mean(len(df))}, ignore_index=True)
        p.join()

In [ ]:
print(row_df)

In [ ]:
row_df.mean(axis = 1).mean()

In [ ]:
num_tables=[]
for index in columns_sorted.filename:
    print(index)
    outputdir = '../../src/data/schemafiltereddata/'+index+'/under_10_rows_and_NAs/'
    print(len([file for file in os.listdir(outputdir) if file.endswith('.json.gz')]))
    num_tables.append(len([file for file in os.listdir(outputdir) if file.endswith('.json.gz')]))
len(num_tables)

In [ ]:
test_df = pd.read_json('/work-ceph/bizer-tp2021/data_integration_using_deep_learning/src/data/schemafiltereddata/CreativeWork/under_10_rows/CreativeWork_1daywebs.com_September2020.json.gz', compression='gzip', lines=True)
test_df

In [ ]:
overview = pd.read_csv(path+'/filestats_over_all_columns.csv')
overview

In [ ]:
print(overview[(overview['num_rows']<=10) & (overview['Class']=='CreativeWork')])